In [2]:
import sqlparse

In [1]:
pip install sqlparse

Collecting sqlparse
  Using cached sqlparse-0.5.0-py3-none-any.whl.metadata (3.9 kB)
Using cached sqlparse-0.5.0-py3-none-any.whl (43 kB)
Installing collected packages: sqlparse
Successfully installed sqlparse-0.5.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
with open('../../../../Desktop/docu_str.sql', 'r') as file:
    content = file.read()
    def get_table_name(tokens):
        for token in reversed(tokens):
            if token.ttype is None:
                return token.value
        return " "

    parse = sqlparse.parse(content)
    for stmt in parse:
        # Get all the tokens except whitespaces
        tokens = [t for t in sqlparse.sql.TokenList(stmt.tokens) if t.ttype != sqlparse.tokens.Whitespace]
        is_create_stmt = False
        for i, token in enumerate(tokens):
            # Is it a create statements ?
            if token.match(sqlparse.tokens.DDL, 'CREATE'):
                is_create_stmt = True
                continue
            
            # If it was a create statement and the current token starts with "("
            if is_create_stmt and token.value.startswith("("):
                # Get the table name by looking at the tokens in reverse order till you find
                # a token with None type
                print (f"table: {get_table_name(tokens[:i])}")

                # Now parse the columns
                txt = token.value
                columns = txt[1:txt.rfind(")")].replace("\n","").split(",")
                for column in columns:
                    c = ' '.join(column.split()).split()
                    c_name = c[0].replace('\"',"")
                    if c_name == ['PRIMARY', 'KEY']:
                        c_type = 'KEY'
                    else:
                        c_type = c[1]  # For condensed type information 
                        # OR s
                    print (f"column: {c_name}")
                    print (f"data type: {c_type}")
                print ("---"*20)
                break

table: `aggregate_completed`
column: `col_name`
data type: varchar(10)
------------------------------------------------------------
table: `docu_acte_assure_stat_data`
column: `id_data`
data type: int(10)
column: `id_owner`
data type: int(10)
column: `sys_creation_date`
data type: datetime
column: `sys_last_mod_date`
data type: datetime
column: `sys_last_mod_user`
data type: int(10)
column: `ddn`
data type: date
column: `dep`
data type: varchar(255)
column: `id_assure`
data type: int(11)
column: `id_acte`
data type: int(11)
column: `date_acte`
data type: date
column: `type_test`
data type: int(10)
column: `num_ref`
data type: varchar(10)
column: `caisse`
data type: varchar(9)
column: `id_bci`
data type: varchar(14)
column: `insee`
data type: varchar(6)
column: `med_traitant`
data type: int(1)
column: `med_gyneco`
data type: int(1)
column: `npai`
data type: int(1)
column: `date_import`
data type: date
column: `invitrel_moins_1an`
data type: int(1)
column: `depistage_moins_3_5ans`
data type: int(1)
column: `npai_relance`
data type: int(1)
column: `depistage_primaire`
data type: int(1)
column: `date_deces`
data type: date
column: `date_create`
data type: date
column: `cmu`
data type: int(1)
column: `acte_insee`
data type: varchar(5)
column: PRIMARY
data type: KEY
column: KEY
data type: `date_acte`
------------------------------------------------------------
table: `docu_acte_assure_stat_data_group`
column: `id_data_group`
data type: int(10)
column: `id_data`
data type: int(10)
column: `id_group`
data type: int(10)
column: PRIMARY
data type: KEY
column: UNIQUE
data type: KEY

IndexError: list index out of range

In [12]:
with open('../../../../Desktop/docu_str.sql', 'r') as file:
    content = file.read()
    parsed = sqlparse.parse(content)

In [13]:
for something in parsed:
    if something.get_type() == 'CREATE':
        print(something.tokens)

[<Newline ' ' at 0x14E409216C0>, <DDL 'CREATE' at 0x14E409218A0>, <Whitespace ' ' at 0x14E40921900>, <Keyword 'TABLE' at 0x14E40921960>, <Whitespace ' ' at 0x14E40921C00>, <Identifier '`aggre...' at 0x14E408F2250>, <Whitespace ' ' at 0x14E40921E40>, <Parenthesis '( `c...' at 0x14E408F2050>, <Whitespace ' ' at 0x14E409233A0>, <Keyword 'ENGINE' at 0x14E40923640>, <Comparison '=' at 0x14E40923820>, <Identifier 'InnoDB' at 0x14E408F22D0>, <Whitespace ' ' at 0x14E409238E0>, <Keyword 'DEFAULT' at 0x14E40923940>, <Whitespace ' ' at 0x14E409239A0>, <Keyword 'CHARSET' at 0x14E40923C40>, <Comparison '=' at 0x14E40923E20>, <Identifier 'latin1' at 0x14E408F21D0>, <Whitespace ' ' at 0x14E40923EE0>, <Keyword 'COLLATE' at 0x14E408D4040>, <Comparison '=' at 0x14E408D40A0>, <Identifier 'latin1...' at 0x14E408F2450>, <Punctuation ';' at 0x14E408D4160>]
[<Newline ' ' at 0x14E408D4C40>, <DDL 'CREATE' at 0x14E408D4CA0>, <Whitespace ' ' at 0x14E408D4D00>, <Keyword 'TABLE' at 0x14E408D4D60>, <Whitespace ' ' at 0x14E408D4DC0>, <Identifier '`docu_...' at 0x14E40900FD0>, <Whitespace ' ' at 0x14E408D4E80>, <Parenthesis '( `i...' at 0x14E408F36D0>, <Whitespace ' ' at 0x14E40872E00>, <Keyword 'ENGINE' at 0x14E40873220>, <Comparison '=' at 0x14E40873880>, <Identifier 'InnoDB' at 0x14E409016D0>, <Whitespace ' ' at 0x14E40873D00>, <Keyword 'DEFAULT' at 0x14E40873D60>, <Whitespace ' ' at 0x14E408701C0>, <Keyword 'CHARSET' at 0x14E40870BE0>, <Comparison '=' at 0x14E408711E0>, <Identifier 'utf8mb3' at 0x14E40900AD0>, <Whitespace ' ' at 0x14E408719C0>, <Keyword 'COLLATE' at 0x14E40871600>, <Comparison '=' at 0x14E40871420>, <Identifier 'utf8mb...' at 0x14E409010D0>, <Punctuation ';' at 0x14E40872980>]
[<Newline ' ' at 0x14E40871AE0>, <DDL 'CREATE' at 0x14E40871B40>, <Whitespace ' ' at 0x14E40871F60>, <Keyword 'TABLE' at 0x14E408728C0>, <Whitespace ' ' at 0x14E40871960>, <Identifier '`docu_...' at 0x14E40900150>, <Whitespace ' ' at 0x14E40870B80>, <Parenthesis '( `i...' at 0x14E409023D0>, <Whitespace ' ' at 0x14E40938F40>, <Keyword 'ENGINE' at 0x14E40938FA0>, <Comparison '=' at 0x14E40939000>, <Identifier 'InnoDB' at 0x14E409002D0>, <Whitespace ' ' at 0x14E409390C0>, <Keyword 'DEFAULT' at 0x14E40939120>, <Whitespace ' ' at 0x14E40939180>, <Keyword 'CHARSET' at 0x14E409391E0>, <Comparison '=' at 0x14E40939240>, <Identifier 'utf8mb3' at 0x14E409000D0>, <Whitespace ' ' at 0x14E40939300>, <Keyword 'COLLATE' at 0x14E40939360>, <Comparison '=' at 0x14E409393C0>, <Identifier 'utf8mb...' at 0x14E40900050>, <Punctuation ';' at 0x14E40939480>]
[<Newline ' ' at 0x14E40939FC0>, <DDL 'CREATE' at 0x14E4093A020>, <Whitespace ' ' at 0x14E4093A080>, <Keyword 'TABLE' at 0x14E4093A0E0>, <Whitespace ' ' at 0x14E4093A140>, <Identifier '`docu_...' at 0x14E40919150>, <Whitespace ' ' at 0x14E4093A260>, <Parenthesis '( `i...' at 0x14E409189D0>, <Whitespace ' ' at 0x14E408EC0A0>, <Keyword 'ENGINE' at 0x14E408EC100>, <Comparison '=' at 0x14E408EC160>, <Identifier 'InnoDB' at 0x14E409191D0>, <Whitespace ' ' at 0x14E408EC220>, <Keyword 'DEFAULT' at 0x14E408EC280>, <Whitespace ' ' at 0x14E408EC2E0>, <Keyword 'CHARSET' at 0x14E408EC340>, <Comparison '=' at 0x14E408EC3A0>, <Identifier 'utf8mb3' at 0x14E40919250>, <Whitespace ' ' at 0x14E408EC460>, <Keyword 'COLLATE' at 0x14E408EC4C0>, <Comparison '=' at 0x14E408EC520>, <Identifier 'utf8mb...' at 0x14E409192D0>, <Punctuation ';' at 0x14E408EC5E0>]
[<Newline ' ' at 0x14E408ED120>, <DDL 'CREATE' at 0x14E408ED180>, <Whitespace ' ' at 0x14E408ED1E0>, <Keyword 'TABLE' at 0x14E408ED240>, <Whitespace ' ' at 0x14E408ED2A0>, <Identifier '`docu_...' at 0x14E408FCA50>, <Whitespace ' ' at 0x14E408ED360>, <Parenthesis '( `i...' at 0x14E4091A550>, <Whitespace ' ' at 0x14E4089E140>, <Keyword 'ENGINE' at 0x14E4089E1A0>, <Comparison '=' at 0x14E4089E200>, <Identifier 'InnoDB' at 0x14E408FCAD0>, <Whitespace ' ' at 0x14E4089E2C0>, <Keyword 'DEFAULT' at 0x14E4089E320>, <Whitespace ' ' at 0x14E4089E380>, <Keyword 'CHARSET' at 0x14E4089E3E0>, <Comparison '=' at 0x14E4089E440>, <Identifier 'utf8mb3' at 0x14E408FCB50>, <Whitespace ' ' at 0x14E4089E500>, <Keyword 'COLLATE' at 0x14E4089E560>, <Comparison '=' at 0x14E4089E5C0>, <Identifier 'utf8mb...' at 0x14E408FCBD0>, <Punctuation ';' at 0x14E4089E680>]
[<Newline ' ' at 0x14E4089F280>, <DDL 'CREATE' at 0x14E4089F2E0>, <Whitespace ' ' at 0x14E4089F340>, <Keyword 'TABLE' at 0x14E4089F3A0>, <Whitespace ' ' at 0x14E4089F400>, <Identifier '`docu_...' at 0x14E40876350>, <Whitespace ' ' at 0x14E4089F4C0>, <Parenthesis '( `i...' at 0x14E408FE9D0>, <Whitespace ' ' at 0x14E4088E0E0>, <Keyword 'ENGINE' at 0x14E4088E200>, <Comparison '=' at 0x14E4088DFC0>, <Identifier 'InnoDB' at 0x14E40877350>, <Whitespace ' ' at 0x14E4088D9C0>, <Keyword 'AUTO_I...' at 0x14E4088DA20>, <Comparison '=' at 0x14E4088DC00>, <Integer '2239583' at 0x14E4088DC60>, <Whitespace ' ' at 0x14E4088DCC0>, <Keyword 'DEFAULT' at 0x14E4088DD20>, <Whitespace ' ' at 0x14E4088DD80>, <Keyword 'CHARSET' at 0x14E4088DDE0>, <Comparison '=' at 0x14E4088DE40>, <Identifier 'utf8mb3' at 0x14E408778D0>, <Whitespace ' ' at 0x14E4088DF60>, <Keyword 'COLLATE' at 0x14E4088D8A0>, <Comparison '=' at 0x14E4088D960>, <Identifier 'utf8mb...' at 0x14E40876DD0>, <Punctuation ';' at 0x14E4088D060>]
[<Newline ' ' at 0x14E408BBE20>, <DDL 'CREATE' at 0x14E408BBE80>, <Whitespace ' ' at 0x14E408BBEE0>, <Keyword 'TABLE' at 0x14E408B81C0>, <Whitespace ' ' at 0x14E408B8280>, <Identifier '`docu_...' at 0x14E40875250>, <Whitespace ' ' at 0x14E408B8340>, <Parenthesis '( `i...' at 0x14E40875C50>, <Whitespace ' ' at 0x14E408BBD60>, <Keyword 'ENGINE' at 0x14E408BBF40>, <Comparison '=' at 0x14E408BA860>, <Identifier 'InnoDB' at 0x14E40875050>, <Whitespace ' ' at 0x14E408BA740>, <Keyword 'AUTO_I...' at 0x14E408BA140>, <Comparison '=' at 0x14E408BA200>, <Integer '2222129' at 0x14E408BA1A0>, <Whitespace ' ' at 0x14E408BA260>, <Keyword 'DEFAULT' at 0x14E408BA2C0>, <Whitespace ' ' at 0x14E408BA620>, <Keyword 'CHARSET' at 0x14E408B9FC0>, <Comparison '=' at 0x14E408B8220>, <Identifier 'utf8mb3' at 0x14E40874D50>, <Whitespace ' ' at 0x14E408B8460>, <Keyword 'COLLATE' at 0x14E408B84C0>, <Comparison '=' at 0x14E408B8760>, <Identifier 'utf8mb...' at 0x14E408752D0>, <Punctuation ';' at 0x14E408B89A0>]
[<Newline ' ' at 0x14E408BA080>, <DDL 'CREATE' at 0x14E408BA0E0>, <Whitespace ' ' at 0x14E408BA320>, <Keyword 'TABLE' at 0x14E408BA380>, <Whitespace ' ' at 0x14E408BA3E0>, <Identifier '`docu_...' at 0x14E408757D0>, <Whitespace ' ' at 0x14E408BA4A0>, <Parenthesis '( `i...' at 0x14E40874A50>, <Whitespace ' ' at 0x14E40936DA0>, <Keyword 'ENGINE' at 0x14E40936F80>, <Comparison '=' at 0x14E40936FE0>, <Identifier 'InnoDB' at 0x14E40875750>, <Whitespace ' ' at 0x14E409370A0>, <Keyword 'DEFAULT' at 0x14E40937100>, <Whitespace ' ' at 0x14E409373A0>, <Keyword 'CHARSET' at 0x14E40937580>, <Comparison '=' at 0x14E409375E0>, <Identifier 'utf8mb3' at 0x14E408756D0>, <Whitespace ' ' at 0x14E409378E0>, <Keyword 'COLLATE' at 0x14E40937AC0>, <Comparison '=' at 0x14E40937D60>, <Identifier 'utf8mb...' at 0x14E408748D0>, <Punctuation ';' at 0x14E409361A0>]
[<Newline ' ' at 0x14E40935F00>, <DDL 'CREATE' at 0x14E40935FC0>, <Whitespace ' ' at 0x14E409358A0>, <Keyword 'TABLE' at 0x14E40935960>, <Whitespace ' ' at 0x14E409342E0>, <Identifier '`docu_...' at 0x14E4090EF50>, <Whitespace ' ' at 0x14E409343A0>, <Parenthesis '( `i...' at 0x14E4090D0D0>, <Whitespace ' ' at 0x14E408C4E80>, <Keyword 'ENGINE' at 0x14E408C4F40>, <Comparison '=' at 0x14E408C5120>, <Identifier 'InnoDB' at 0x14E4090EFD0>, <Whitespace ' ' at 0x14E408C51E0>, <Keyword 'DEFAULT' at 0x14E408C5240>, <Whitespace ' ' at 0x14E408C52A0>, <Keyword 'CHARSET' at 0x14E408C5540>, <Comparison '=' at 0x14E408C5720>, <Identifier 'utf8mb3' at 0x14E4090F050>, <Whitespace ' ' at 0x14E408C57E0>, <Keyword 'COLLATE' at 0x14E408C5A80>, <Comparison '=' at 0x14E408C5C60>, <Identifier 'utf8mb...' at 0x14E4090F0D0>, <Punctuation ';' at 0x14E408C5D20>]
[<Newline ' ' at 0x14E408C7340>, <DDL 'CREATE' at 0x14E408C73A0>, <Whitespace ' ' at 0x14E408C7400>, <Keyword 'TABLE' at 0x14E408C7460>, <Whitespace ' ' at 0x14E408C77C0>, <Identifier '`docu_...' at 0x14E40945E50>, <Whitespace ' ' at 0x14E408C72E0>, <Parenthesis '( `i...' at 0x14E409098D0>, <Whitespace ' ' at 0x14E40943940>, <Keyword 'ENGINE' at 0x14E409439A0>, <Comparison '=' at 0x14E40943A00>, <Identifier 'InnoDB' at 0x14E40945ED0>, <Whitespace ' ' at 0x14E40943CA0>, <Keyword 'DEFAULT' at 0x14E40943E20>, <Whitespace ' ' at 0x14E40941AE0>, <Keyword 'CHARSET' at 0x14E40941B40>, <Comparison '=' at 0x14E409419C0>, <Identifier 'utf8mb3' at 0x14E40945F50>, <Whitespace ' ' at 0x14E40941420>, <Keyword 'COLLATE' at 0x14E40941480>, <Comparison '=' at 0x14E409414E0>, <Identifier 'utf8mb...' at 0x14E40945FD0>, <Punctuation ';' at 0x14E409418A0>]
[<Newline ' ' at 0x14E40941300>, <DDL 'CREATE' at 0x14E40941360>, <Whitespace ' ' at 0x14E40941540>, <Keyword 'TABLE' at 0x14E409415A0>, <Whitespace ' ' at 0x14E40941600>, <Identifier '`docu_...' at 0x14E402FC7D0>, <Whitespace ' ' at 0x14E40941720>, <Parenthesis '( `i...' at 0x14E402FC050>, <Whitespace ' ' at 0x14E403212A0>, <Keyword 'ENGINE' at 0x14E40321300>, <Comparison '=' at 0x14E40321360>, <Identifier 'InnoDB' at 0x14E402FC850>, <Whitespace ' ' at 0x14E40321420>, <Keyword 'DEFAULT' at 0x14E40321480>, <Whitespace ' ' at 0x14E403214E0>, <Keyword 'CHARSET' at 0x14E40321540>, <Comparison '=' at 0x14E403215A0>, <Identifier 'utf8mb3' at 0x14E402FC8D0>, <Whitespace ' ' at 0x14E40321660>, <Keyword 'COLLATE' at 0x14E403216C0>, <Comparison '=' at 0x14E40321720>, <Identifier 'utf8mb...' at 0x14E402FC950>, <Punctuation ';' at 0x14E403217E0>]
[<Newline ' ' at 0x14E40322320>, <DDL 'CREATE' at 0x14E40322380>, <Whitespace ' ' at 0x14E403223E0>, <Keyword 'TABLE' at 0x14E40322440>, <Whitespace ' ' at 0x14E403224A0>, <Identifier '`docu_...' at 0x14E402FDC50>, <Whitespace ' ' at 0x14E403225C0>, <Parenthesis '( `i...' at 0x14E402FD4D0>, <Whitespace ' ' at 0x14E402F7220>, <Keyword 'ENGINE' at 0x14E402F74C0>, <Comparison '=' at 0x14E402F7580>, <Identifier 'InnoDB' at 0x14E402FDCD0>, <Whitespace ' ' at 0x14E402F78E0>, <Keyword 'DEFAULT' at 0x14E402F79A0>, <Whitespace ' ' at 0x14E402F7A60>, <Keyword 'CHARSET' at 0x14E402F7D00>, <Comparison '=' at 0x14E402F7DC0>, <Identifier 'utf8mb3' at 0x14E402FDD50>, <Whitespace ' ' at 0x14E402F4040>, <Keyword 'COLLATE' at 0x14E402F43A0>, <Comparison '=' at 0x14E402F4460>, <Identifier 'utf8mb...' at 0x14E402FDDD0>, <Punctuation ';' at 0x14E402F4520>]
[<Newline ' ' at 0x14E402F64A0>, <DDL 'CREATE' at 0x14E402F6500>, <Whitespace ' ' at 0x14E402F6980>, <Keyword 'TABLE' at 0x14E402F6CE0>, <Whitespace ' ' at 0x14E402F7100>, <Identifier '`docu_...' at 0x14E40293B50>, <Whitespace ' ' at 0x14E402F7940>, <Parenthesis '( `i...' at 0x14E402FFAD0>, <Whitespace ' ' at 0x14E40283AC0>, <Keyword 'ENGINE' at 0x14E40283B20>, <Comparison '=' at 0x14E40283B80>, <Identifier 'InnoDB' at 0x14E40293BD0>, <Whitespace ' ' at 0x14E40283C40>, <Keyword 'DEFAULT' at 0x14E40283CA0>, <Whitespace ' ' at 0x14E40283D00>, <Keyword 'CHARSET' at 0x14E40283D60>, <Comparison '=' at 0x14E40283DC0>, <Identifier 'utf8mb3' at 0x14E40293C50>, <Whitespace ' ' at 0x14E40283E80>, <Keyword 'COLLATE' at 0x14E40283EE0>, <Comparison '=' at 0x14E40283F40>, <Identifier 'utf8mb...' at 0x14E40293CD0>, <Punctuation ';' at 0x14E402A8040>]
[<Newline ' ' at 0x14E402A8B80>, <DDL 'CREATE' at 0x14E402A8BE0>, <Whitespace ' ' at 0x14E402A8C40>, <Keyword 'TABLE' at 0x14E402A8CA0>, <Whitespace ' ' at 0x14E402A8D00>, <Identifier '`docu_...' at 0x14E40286750>, <Whitespace ' ' at 0x14E402A8DC0>, <Parenthesis '( `i...' at 0x14E4030BCD0>, <Whitespace ' ' at 0x14E402C0280>, <Keyword 'ENGINE' at 0x14E402C02E0>, <Comparison '=' at 0x14E402C0340>, <Identifier 'InnoDB' at 0x14E40286F50>, <Whitespace ' ' at 0x14E402C0400>, <Keyword 'AUTO_I...' at 0x14E402C0460>, <Comparison '=' at 0x14E402C04C0>, <Integer '547952' at 0x14E402C0520>, <Whitespace ' ' at 0x14E402C0580>, <Keyword 'DEFAULT' at 0x14E402C05E0>, <Whitespace ' ' at 0x14E402C0640>, <Keyword 'CHARSET' at 0x14E402C06A0>, <Comparison '=' at 0x14E402C0700>, <Identifier 'utf8mb3' at 0x14E40286B50>, <Whitespace ' ' at 0x14E402C07C0>, <Keyword 'COLLATE' at 0x14E402C0820>, <Comparison '=' at 0x14E402C0880>, <Identifier 'utf8mb...' at 0x14E40287950>, <Punctuation ';' at 0x14E402C0940>]
[<Newline ' ' at 0x14E4092F7C0>, <DDL 'CREATE' at 0x14E4092F760>, <Whitespace ' ' at 0x14E4092F340>, <Keyword 'TABLE' at 0x14E4092F640>, <Whitespace ' ' at 0x14E4092F1C0>, <Identifier '`docu_...' at 0x14E40285850>, <Whitespace ' ' at 0x14E4092EAA0>, <Parenthesis '( `i...' at 0x14E40287D50>, <Whitespace ' ' at 0x14E402C18A0>, <Keyword 'ENGINE' at 0x14E402C1900>, <Comparison '=' at 0x14E402C1960>, <Identifier 'InnoDB' at 0x14E402874D0>, <Whitespace ' ' at 0x14E402C1A20>, <Keyword 'DEFAULT' at 0x14E402C1A80>, <Whitespace ' ' at 0x14E402C1AE0>, <Keyword 'CHARSET' at 0x14E402C1B40>, <Comparison '=' at 0x14E402C1BA0>, <Identifier 'utf8mb3' at 0x14E40284850>, <Whitespace ' ' at 0x14E402C1C60>, <Keyword 'COLLATE' at 0x14E402C1CC0>, <Comparison '=' at 0x14E402C1D20>, <Identifier 'utf8mb...' at 0x14E40287AD0>, <Punctuation ';' at 0x14E402C1DE0>]
[<Newline ' ' at 0x14E402C2920>, <DDL 'CREATE' at 0x14E402C2980>, <Whitespace ' ' at 0x14E402C29E0>, <Keyword 'TABLE' at 0x14E402C2A40>, <Whitespace ' ' at 0x14E402C2AA0>, <Identifier '`docu_...' at 0x14E40275050>, <Whitespace ' ' at 0x14E402C2BC0>, <Parenthesis '( `i...' at 0x14E402748D0>, <Whitespace ' ' at 0x14E402D0A00>, <Keyword 'ENGINE' at 0x14E402D0A60>, <Comparison '=' at 0x14E402D0AC0>, <Identifier 'InnoDB' at 0x14E402750D0>, <Whitespace ' ' at 0x14E402D0B80>, <Keyword 'DEFAULT' at 0x14E402D0BE0>, <Whitespace ' ' at 0x14E402D0C40>, <Keyword 'CHARSET' at 0x14E402D0CA0>, <Comparison '=' at 0x14E402D0D00>, <Identifier 'utf8mb3' at 0x14E40275150>, <Whitespace ' ' at 0x14E402D0DC0>, <Keyword 'COLLATE' at 0x14E402D0E20>, <Comparison '=' at 0x14E402D0E80>, <Identifier 'utf8mb...' at 0x14E402751D0>, <Punctuation ';' at 0x14E402D0F40>]
[<Newline ' ' at 0x14E402D1AE0>, <DDL 'CREATE' at 0x14E402D1B40>, <Whitespace ' ' at 0x14E402D1BA0>, <Keyword 'TABLE' at 0x14E402D1C00>, <Whitespace ' ' at 0x14E402D1C60>, <Identifier '`docu_...' at 0x14E4031A750>, <Whitespace ' ' at 0x14E402D1D80>, <Parenthesis '( `i...' at 0x14E40276950>, <Whitespace ' ' at 0x14E40328220>, <Keyword 'ENGINE' at 0x14E40328280>, <Comparison '=' at 0x14E403282E0>, <Identifier 'InnoDB' at 0x14E4031B7D0>, <Whitespace ' ' at 0x14E403286A0>, <Keyword 'DEFAULT' at 0x14E40328760>, <Whitespace ' ' at 0x14E403287C0>, <Keyword 'CHARSET' at 0x14E40328820>, <Comparison '=' at 0x14E40328880>, <Identifier 'utf8mb3' at 0x14E40319650>, <Whitespace ' ' at 0x14E40329120>, <Keyword 'COLLATE' at 0x14E403294E0>, <Comparison '=' at 0x14E403295A0>, <Identifier 'utf8mb...' at 0x14E403187D0>, <Punctuation ';' at 0x14E4032ADA0>]
[<Newline ' ' at 0x14E40328F40>, <DDL 'CREATE' at 0x14E40328FA0>, <Whitespace ' ' at 0x14E40329000>, <Keyword 'TABLE' at 0x14E403290C0>, <Whitespace ' ' at 0x14E40329180>, <Identifier '`docu_...' at 0x14E402B0650>, <Whitespace ' ' at 0x14E40329540>, <Parenthesis '( `i...' at 0x14E4031AE50>, <Whitespace ' ' at 0x14E40330460>, <Keyword 'ENGINE' at 0x14E403304C0>, <Comparison '=' at 0x14E40330520>, <Identifier 'InnoDB' at 0x14E402B06D0>, <Whitespace ' ' at 0x14E40330940>, <Keyword 'DEFAULT' at 0x14E403309A0>, <Whitespace ' ' at 0x14E40330A00>, <Keyword 'CHARSET' at 0x14E40330A60>, <Comparison '=' at 0x14E40330AC0>, <Identifier 'utf8mb3' at 0x14E402B0750>, <Whitespace ' ' at 0x14E40330EE0>, <Keyword 'COLLATE' at 0x14E40330F40>, <Comparison '=' at 0x14E40330FA0>, <Identifier 'utf8mb...' at 0x14E402B07D0>, <Punctuation ';' at 0x14E403313C0>]
[<Newline ' ' at 0x14E40333460>, <DDL 'CREATE' at 0x14E403334C0>, <Whitespace ' ' at 0x14E40333520>, <Keyword 'TABLE' at 0x14E40333580>, <Whitespace ' ' at 0x14E40333A00>, <Identifier '`docu_...' at 0x14E402B1DD0>, <Whitespace ' ' at 0x14E40333AC0>, <Parenthesis '( `i...' at 0x14E402B1650>, <Whitespace ' ' at 0x14E402E4640>, <Keyword 'ENGINE' at 0x14E402E46A0>, <Comparison '=' at 0x14E402E4700>, <Identifier 'InnoDB' at 0x14E402B1E50>, <Whitespace ' ' at 0x14E402E47C0>, <Keyword 'DEFAULT' at 0x14E402E4820>, <Whitespace ' ' at 0x14E402E4880>, <Keyword 'CHARSET' at 0x14E402E48E0>, <Comparison '=' at 0x14E402E4940>, <Identifier 'utf8mb3' at 0x14E402B1ED0>, <Whitespace ' ' at 0x14E402E4A00>, <Keyword 'COLLATE' at 0x14E402E4A60>, <Comparison '=' at 0x14E402E4AC0>, <Identifier 'utf8mb...' at 0x14E402B1F50>, <Punctuation ';' at 0x14E402E4B80>]
[<Newline ' ' at 0x14E402E56C0>, <DDL 'CREATE' at 0x14E402E5720>, <Whitespace ' ' at 0x14E402E5780>, <Keyword 'TABLE' at 0x14E402E57E0>, <Whitespace ' ' at 0x14E402E5840>, <Identifier '`docu_...' at 0x14E402B3250>, <Whitespace ' ' at 0x14E402E5960>, <Parenthesis '( `i...' at 0x14E402B2AD0>, <Whitespace ' ' at 0x14E402E7760>, <Keyword 'ENGINE' at 0x14E402E77C0>, <Comparison '=' at 0x14E402E7820>, <Identifier 'InnoDB' at 0x14E402B32D0>, <Whitespace ' ' at 0x14E402E78E0>, <Keyword 'DEFAULT' at 0x14E402E7940>, <Whitespace ' ' at 0x14E402E79A0>, <Keyword 'CHARSET' at 0x14E402E7A00>, <Comparison '=' at 0x14E402E7A60>, <Identifier 'utf8mb3' at 0x14E402B3350>, <Whitespace ' ' at 0x14E402E7B20>, <Keyword 'COLLATE' at 0x14E402E7B80>, <Comparison '=' at 0x14E402E7BE0>, <Identifier 'utf8mb...' at 0x14E402B33D0>, <Punctuation ';' at 0x14E402E7CA0>]
[<Newline ' ' at 0x14E402647C0>, <DDL 'CREATE' at 0x14E402649A0>, <Whitespace ' ' at 0x14E40264A00>, <Keyword 'TABLE' at 0x14E40264A60>, <Whitespace ' ' at 0x14E40264AC0>, <Identifier '`docu_...' at 0x14E402AD150>, <Whitespace ' ' at 0x14E40265EA0>, <Parenthesis '( `i...' at 0x14E402AC150>, <Whitespace ' ' at 0x14E402785E0>, <Keyword 'ENGINE' at 0x14E40278640>, <Comparison '=' at 0x14E402786A0>, <Identifier 'InnoDB' at 0x14E402AD1D0>, <Whitespace ' ' at 0x14E40278760>, <Keyword 'DEFAULT' at 0x14E402787C0>, <Whitespace ' ' at 0x14E40278820>, <Keyword 'CHARSET' at 0x14E40278880>, <Comparison '=' at 0x14E402788E0>, <Identifier 'utf8mb3' at 0x14E402AD250>, <Whitespace ' ' at 0x14E402789A0>, <Keyword 'COLLATE' at 0x14E40278A00>, <Comparison '=' at 0x14E40278A60>, <Identifier 'utf8mb...' at 0x14E402AD2D0>, <Punctuation ';' at 0x14E40278B20>]
[<Newline ' ' at 0x14E40279660>, <DDL 'CREATE' at 0x14E402796C0>, <Whitespace ' ' at 0x14E40279720>, <Keyword 'TABLE' at 0x14E40279780>, <Whitespace ' ' at 0x14E402797E0>, <Identifier '`docu_...' at 0x14E40338C50>, <Whitespace ' ' at 0x14E402798A0>, <Parenthesis '( `i...' at 0x14E402AF8D0>, <Whitespace ' ' at 0x14E402D61A0>, <Keyword 'ENGINE' at 0x14E402D6200>, <Comparison '=' at 0x14E402D62C0>, <Identifier 'InnoDB' at 0x14E40338CD0>, <Whitespace ' ' at 0x14E402D6380>, <Keyword 'DEFAULT' at 0x14E402D63E0>, <Whitespace ' ' at 0x14E402D6440>, <Keyword 'CHARSET' at 0x14E402D6500>, <Comparison '=' at 0x14E402D6560>, <Identifier 'utf8mb3' at 0x14E40338D50>, <Whitespace ' ' at 0x14E402D6680>, <Keyword 'COLLATE' at 0x14E402D67A0>, <Comparison '=' at 0x14E402D6860>, <Identifier 'utf8mb...' at 0x14E40338DD0>, <Punctuation ';' at 0x14E402D6920>]
[<Newline ' ' at 0x14E403164A0>, <DDL 'CREATE' at 0x14E40316500>, <Whitespace ' ' at 0x14E403170A0>, <Keyword 'TABLE' at 0x14E40317520>, <Whitespace ' ' at 0x14E403175E0>, <Identifier '`docu_...' at 0x14E4033B950>, <Whitespace ' ' at 0x14E403176A0>, <Parenthesis '( `i...' at 0x14E4033B1D0>, <Whitespace ' ' at 0x14E40315BA0>, <Keyword 'ENGINE' at 0x14E40315C00>, <Comparison '=' at 0x14E40315C60>, <Identifier 'InnoDB' at 0x14E4033B9D0>, <Whitespace ' ' at 0x14E403168C0>, <Keyword 'DEFAULT' at 0x14E40316D40>, <Whitespace ' ' at 0x14E40316DA0>, <Keyword 'CHARSET' at 0x14E40316E00>, <Comparison '=' at 0x14E40316E60>, <Identifier 'utf8mb3' at 0x14E4033BA50>, <Whitespace ' ' at 0x14E40317AC0>, <Keyword 'COLLATE' at 0x14E40317F40>, <Comparison '=' at 0x14E40317FA0>, <Identifier 'utf8mb...' at 0x14E4033BAD0>, <Punctuation ';' at 0x14E40314AC0>]

In [8]:
import sqlparse
from tabulate import tabulate

def extract_table_info(sql):
    parsed = sqlparse.parse(sql)
    tables = []

    for statement in parsed:
        if statement.get_type() == 'CREATE':
            table_info = {}
            tokens = statement.tokens
            
            table_name = None
            columns = []
            primary_keys = []
            foreign_keys = []

            in_parenthesis = False
            in_primary_key = False
            in_foreign_key = False
            for token in tokens:
                if token.ttype is None and token.value.upper() == 'TABLE':
                    table_name = token.get_next_sibling().get_real_name()
                    table_info['table_name'] = table_name.strip('`')
                
                if token.ttype is None and token.value == '(':
                    in_parenthesis = True
                elif token.ttype is None and token.value == ')':
                    in_parenthesis = False
                
                if in_parenthesis:
                    if token.ttype is None and token.value.upper() == 'PRIMARY':
                        in_primary_key = True
                    elif in_primary_key and isinstance(token, sqlparse.sql.Identifier):
                        primary_keys.append(token.get_real_name())
                    elif token.ttype is None and token.value.upper() == 'FOREIGN':
                        in_foreign_key = True
                    elif in_foreign_key and isinstance(token, sqlparse.sql.Identifier):
                        foreign_keys.append(token.get_real_name())
                    elif isinstance(token, sqlparse.sql.Identifier):
                        column_name = token.get_real_name()
                        column_type = token.tokens[-1].get_real_name()
                        columns.append((column_name, column_type))
                
                if token.ttype is None and token.value.upper() == 'ENGINE':
                    break
            
            table_info['columns'] = columns
            table_info['primary_keys'] = primary_keys
            table_info['foreign_keys'] = foreign_keys
            tables.append(table_info)
    
    return tables

def parse_sql_dump(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        sql = file.read()
    
    tables = extract_table_info(sql)
    return tables

def print_table_info(table_info):
    for table in table_info:
        print(f"Table: {table['table_name']}")
        headers = ["Column Name", "Data Type"]
        print(tabulate(table['columns'], headers=headers, tablefmt="pretty"))
        if table['primary_keys']:
            print(f"Primary Key(s): {', '.join(table['primary_keys'])}")
        if table['foreign_keys']:
            print(f"Foreign Key(s): {', '.join(table['foreign_keys'])}")
        print("\n")
        
# Example usage
sql_dump_path = '../../../../Desktop/docu_str.sql'
table_info = parse_sql_dump(sql_dump_path)
print_table_info(table_info)

KeyError: 'table_name'

In [9]:
import sqlparse
from tabulate import tabulate

def extract_table_info(sql):
    parsed = sqlparse.parse(sql)
    tables = []

    for statement in parsed:
        if statement.get_type() == 'CREATE':
            table_info = {}
            tokens = statement.tokens
            
            table_name = None
            columns = []
            primary_keys = []
            foreign_keys = []

            in_parenthesis = False
            in_primary_key = False
            in_foreign_key = False
            for token in tokens:
                if token.ttype is None and token.value.upper() == 'TABLE':
                    table_name = token.get_real_name()
                    table_info['table_name'] = table_name.strip('`')
                
                if token.ttype is None and token.value == '(':
                    in_parenthesis = True
                elif token.ttype is None and token.value == ')':
                    in_parenthesis = False
                
                if in_parenthesis:
                    if token.ttype is None and token.value.upper() == 'PRIMARY':
                        in_primary_key = True
                    elif in_primary_key and isinstance(token, sqlparse.sql.Identifier):
                        primary_keys.append(token.get_real_name())
                    elif token.ttype is None and token.value.upper() == 'FOREIGN':
                        in_foreign_key = True
                    elif in_foreign_key and isinstance(token, sqlparse.sql.Identifier):
                        foreign_keys.append(token.get_real_name())
                    elif isinstance(token, sqlparse.sql.Identifier):
                        column_name = token.get_real_name()
                        column_type = token.tokens[-1].get_real_name()
                        columns.append((column_name, column_type))
                
                if token.ttype is None and token.value.upper() == 'ENGINE':
                    break
            
            table_info['columns'] = columns
            table_info['primary_keys'] = primary_keys
            table_info['foreign_keys'] = foreign_keys
            tables.append(table_info)
    
    return tables

def parse_sql_dump(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        sql = file.read()
    
    tables = extract_table_info(sql)
    return tables

def print_table_info(table_info):
    for table in table_info:
        if 'table_name' in table:
            print(f"Table: {table['table_name']}")
            headers = ["Column Name", "Data Type"]
            print(tabulate(table['columns'], headers=headers, tablefmt="pretty"))
            if table['primary_keys']:
                print(f"Primary Key(s): {', '.join(table['primary_keys'])}")
            if table['foreign_keys']:
                print(f"Foreign Key(s): {', '.join(table['foreign_keys'])}")
            print("\n")
        
# Example usage
sql_dump_path = '../../../../Desktop/docu_str.sql'
table_info = parse_sql_dump(sql_dump_path)
print_table_info(table_info)

In [25]:
import sqlparse
from tabulate import tabulate

def extract_table_info(sql):
    parsed = sqlparse.parse(sql)
    tables = []

    for statement in parsed:
        if statement.get_type() == 'CREATE':
            table_info = {}
            tokens = statement.tokens
            
            table_name = None
            columns = []
            primary_keys = []
            foreign_keys = []

            in_parenthesis = False
            in_primary_key = False
            in_foreign_key = False
            for token in tokens:
                print(f"Token: {token}")
                if token.ttype is None and token.value.upper() == 'TABLE':
                    table_name = token.get_real_name()
                    table_info['table_name'] = table_name.strip('`')
                    print(f"Found table name: {table_info['table_name']}")
                
                if token.ttype is None and token.value == '(':
                    in_parenthesis = True
                elif token.ttype is None and token.value == ')':
                    in_parenthesis = False
                
                if in_parenthesis:
                    if token.ttype is None and token.value.upper() == 'PRIMARY':
                        in_primary_key = True
                    elif in_primary_key and isinstance(token, sqlparse.sql.Identifier):
                        primary_keys.append(token.get_real_name())
                    elif token.ttype is None and token.value.upper() == 'FOREIGN':
                        in_foreign_key = True
                    elif in_foreign_key and isinstance(token, sqlparse.sql.Identifier):
                        foreign_keys.append(token.get_real_name())
                    elif isinstance(token, sqlparse.sql.Identifier):
                        column_name = token.get_real_name()
                        column_type = token.tokens[-1].get_real_name()
                        columns.append((column_name, column_type))
                
                if token.ttype is None and token.value.upper() == 'ENGINE':
                    break
            
            table_info['columns'] = columns
            table_info['primary_keys'] = primary_keys
            table_info['foreign_keys'] = foreign_keys
            
            print(f"Final table info: {table_info}")
            
            if table_name:
                tables.append(table_info)
    
    return tables

def parse_sql_dump(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        sql = file.read()
    
    tables = extract_table_info(sql)
    return tables

def print_table_info(table_info):
    for table in table_info:
        if 'table_name' in table:
            print(f"Table: {table['table_name']}")
            headers = ["Column Name", "Data Type"]
            print(tabulate(table['columns'], headers=headers, tablefmt="pretty"))
            if table['primary_keys']:
                print(f"Primary Key(s): {', '.join(table['primary_keys'])}")
            if table['foreign_keys']:
                print(f"Foreign Key(s): {', '.join(table['foreign_keys'])}")
            print("\n")

# Example usage
sql_dump_path = '../../../../Desktop/docu_str.sql'
table_info = parse_sql_dump(sql_dump_path)
print_table_info(table_info)

Token:

Token: CREATE
Token:
Token: TABLE
Token:
Token: `aggregate_completed`
Token:
Token: (
  `col_name` varchar(10) DEFAULT NULL
)
Token:
Token: ENGINE
Token: =
Token: InnoDB
Token:
Token: DEFAULT
Token:
Token: CHARSET
Token: =
Token: latin1
Token:
Token: COLLATE
Token: =
Token: latin1_swedish_ci
Token: ;
Final table info: {'columns': [], 'primary_keys': [], 'foreign_keys': []}
Token:

Token: CREATE
Token:
Token: TABLE
Token:
Token: `docu_acte_assure_stat_data`
Token:
Token: (
  `id_data` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_owner` int(10) unsigned DEFAULT NULL,
  `sys_creation_date` datetime DEFAULT NULL,
  `sys_last_mod_date` datetime DEFAULT NULL,
  `sys_last_mod_user` int(10) unsigned DEFAULT NULL,
  `ddn` date DEFAULT NULL,
  `dep` varchar(255) DEFAULT NULL,
  `id_assure` int(11) DEFAULT NULL,
  `id_acte` int(11) DEFAULT NULL,
  `date_acte` date DEFAULT NULL,
  `type_test` int(10) unsigned DEFAULT NULL,
  `num_ref` varchar(10) DEFAULT NULL,
  `caisse` varchar(9) DEFAULT NULL,
  `id_bci` varchar(14) DEFAULT NULL,
  `insee` varchar(6) DEFAULT NULL,
  `med_traitant` int(1) DEFAULT NULL,
  `med_gyneco` int(1) DEFAULT NULL,
  `npai` int(1) DEFAULT NULL,
  `date_import` date DEFAULT NULL,
  `invitrel_moins_1an` int(1) DEFAULT NULL,
  `depistage_moins_3_5ans` int(1) DEFAULT NULL,
  `npai_relance` int(1) DEFAULT NULL,
  `depistage_primaire` int(1) DEFAULT NULL,
  `date_deces` date DEFAULT NULL,
  `date_create` date DEFAULT NULL,
  `cmu` int(1) DEFAULT NULL,
  `acte_insee` varchar(5) DEFAULT NULL,
  PRIMARY KEY (`id_data`),
  KEY `date_acte` (`date_acte`)
)
Token:
Token: ENGINE
Token: =
Token: InnoDB
Token:
Token: DEFAULT
Token:
Token: CHARSET
Token: =
Token: utf8mb3
Token:
Token: COLLATE
Token: =
Token: utf8mb3_general_ci
Token: ;
Final table info: {'columns': [], 'primary_keys': [], 'foreign_keys': []}
Token:

Token: CREATE
Token:
Token: TABLE
Token:
Token: `docu_acte_assure_stat_data_group`
Token:
Token: (
  `id_data_group` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_data` int(10) unsigned NOT NULL,
  `id_group` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id_data_group`),
  UNIQUE KEY `id_data` (`id_data`,`id_group`)
)
Token:
Token: ENGINE
Token: =
Token: InnoDB
Token:
Token: DEFAULT
Token:
Token: CHARSET
Token: =
Token: utf8mb3
Token:
Token: COLLATE
Token: =
Token: utf8mb3_general_ci
Token: ;
Final table info: {'columns': [], 'primary_keys': [], 'foreign_keys': []}
Token:

Token: CREATE
Token:
Token: TABLE
Token:
Token: `docu_acte_assure_stat_data_group_mode`
Token:
Token: (
  `id_data_group_mode` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_data_group` int(10) unsigned NOT NULL,
  `mode` int(10) unsigned NOT NULL,
  `date_valid` date DEFAULT NULL,
  PRIMARY KEY (`id_data_group_mode`),
  UNIQUE KEY `id_data_group` (`id_data_group`)
)
Token:
Token: ENGINE
Token: =
Token: InnoDB
Token:
Token: DEFAULT
Token:
Token: CHARSET
Token: =
Token: utf8mb3
Token:
Token: COLLATE
Token: =
Token: utf8mb3_general_ci
Token: ;
Final table info: {'columns': [], 'primary_keys': [], 'foreign_keys': []}
Token:

Token: CREATE
Token:
Token: TABLE
Token:
Token: `docu_acte_assure_stat_deleted`
Token:
Token: (
  `id_data` int(10) unsigned NOT NULL,
  `id_owner` int(10) unsigned DEFAULT NULL,
  `sys_creation_date` datetime DEFAULT NULL,
  `sys_last_mod_date` datetime DEFAULT NULL,
  `sys_last_mod_user` int(10) unsigned DEFAULT NULL,
  `ddn` date DEFAULT NULL,
  `dep` varchar(255) DEFAULT NULL,
  `id_assure` int(11) DEFAULT NULL,
  `id_acte` int(11) DEFAULT NULL,
  `date_acte` date DEFAULT NULL,
  `type_test` int(10) unsigned DEFAULT NULL,
  `num_ref` varchar(10) DEFAULT NULL,
  `caisse` varchar(9) DEFAULT NULL,
  `id_bci` varchar(14) DEFAULT NULL,
  `insee` varchar(6) DEFAULT NULL,
  `med_traitant` int(1) DEFAULT NULL,
  `med_gyneco` int(1) DEFAULT NULL,
  `npai` int(1) DEFAULT NULL,
  `date_import` date DEFAULT NULL,
  `invitrel_moins_1an` int(1) DEFAULT NULL,
  `depistage_moins_3_5ans` int(1) DEFAULT NULL,
  `npai_relance` int(1) DEFAULT NULL,
  `depistage_primaire` int(1) DEFAULT NULL,
  `date_deces` date DEFAULT NULL,
  `date_create` date DEFAULT NULL,
  `cmu` int(1) DEFAULT NULL,
  `acte_insee` varchar(5) DEFAULT NULL,
  KEY `id_data` (`id_data`)
)
Token:
Token: ENGINE
Token: =
Token: InnoDB
Token:
Token: DEFAULT
Token:
Token: CHARSET
Token: =
Token: utf8mb3
Token:
Token: COLLATE
Token: =
Token: utf8mb3_general_ci
Token: ;
Final table info: {'columns': [], 'primary_keys': [], 'foreign_keys': []}
Token:

Token: CREATE
Token:
Token: TABLE
Token:
Token: `docu_acte_data`
Token:
Token: (
  `id_data` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_owner` int(10) unsigned DEFAULT NULL,
  `sys_creation_date` datetime DEFAULT NULL,
  `sys_last_mod_date` datetime DEFAULT NULL,
  `sys_last_mod_user` int(10) unsigned DEFAULT NULL,
  `date_acte` date DEFAULT NULL,
  `code_acte` int(10) unsigned DEFAULT NULL,
  `exo_prelv` varchar(255) DEFAULT NULL,
  `selection` int(11) DEFAULT NULL,
  `selection_dico` varchar(255) DEFAULT NULL,
  `selection_texte` varchar(255) DEFAULT NULL,
  `source` varchar(255) DEFAULT NULL,
  `date_import` date DEFAULT NULL,
  `user_mod` varchar(255) DEFAULT NULL,
  `reference` varchar(255) DEFAULT NULL,
  `num_bci` varchar(255) DEFAULT NULL,
  `type_test` int(10) unsigned DEFAULT NULL,
  `id_assure` int(11) DEFAULT NULL,
  `force_reference` int(11) DEFAULT NULL,
  `insee` varchar(5) DEFAULT NULL,
  `cp` varchar(5) DEFAULT NULL,
  PRIMARY KEY (`id_data`),
  KEY `id_assure` (`id_assure`),
  KEY `date_acte` (`date_acte`),
  KEY `code_acte` (`code_acte`)
)
Token:
Token: ENGINE
Token: =
Token: InnoDB
Token:
Token: AUTO_INCREMENT
Token: =
Token: 2239583
Token:
Token: DEFAULT
Token:
Token: CHARSET
Token: =
Token: utf8mb3
Token:
Token: COLLATE
Token: =
Token: utf8mb3_general_ci
Token: ;
Final table info: {'columns': [], 'primary_keys': [], 'foreign_keys': []}
Token:

Token: CREATE
Token:
Token: TABLE
Token:
Token: `docu_acte_data_group`
Token:
Token: (
  `id_data_group` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_data` int(10) unsigned NOT NULL,
  `id_group` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id_data_group`),
  UNIQUE KEY `id_data` (`id_data`,`id_group`)
)
Token:
Token: ENGINE
Token: =
Token: InnoDB
Token:
Token: AUTO_INCREMENT
Token: =
Token: 2222129
Token:
Token: DEFAULT
Token:
Token: CHARSET
Token: =
Token: utf8mb3
Token:
Token: COLLATE
Token: =
Token: utf8mb3_general_ci
Token: ;
Final table info: {'columns': [], 'primary_keys': [], 'foreign_keys': []}
Token:

Token: CREATE
Token:
Token: TABLE
Token:
Token: `docu_acte_data_group_mode`
Token:
Token: (
  `id_data_group_mode` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_data_group` int(10) unsigned NOT NULL,
  `mode` int(10) unsigned NOT NULL,
  `date_valid` date DEFAULT NULL,
  PRIMARY KEY (`id_data_group_mode`),
  UNIQUE KEY `id_data_group` (`id_data_group`)
)
Token:
Token: ENGINE
Token: =
Token: InnoDB
Token:
Token: DEFAULT
Token:
Token: CHARSET
Token: =
Token: utf8mb3
Token:
Token: COLLATE
Token: =
Token: utf8mb3_general_ci
Token: ;
Final table info: {'columns': [], 'primary_keys': [], 'foreign_keys': []}
Token:

Token: CREATE
Token:
Token: TABLE
Token:
Token: `docu_acte_deleted`
Token:
Token: (
  `id_data` int(10) unsigned NOT NULL,
  `id_owner` int(10) unsigned DEFAULT NULL,
  `sys_creation_date` datetime DEFAULT NULL,
  `sys_last_mod_date` datetime DEFAULT NULL,
  `sys_last_mod_user` int(10) unsigned DEFAULT NULL,
  `date_acte` date DEFAULT NULL,
  `code_acte` int(10) unsigned DEFAULT NULL,
  `exo_prelv` varchar(255) DEFAULT NULL,
  `selection` int(11) DEFAULT NULL,
  `selection_dico` varchar(255) DEFAULT NULL,
  `selection_texte` varchar(255) DEFAULT NULL,
  `source` varchar(255) DEFAULT NULL,
  `date_import` date DEFAULT NULL,
  `user_mod` varchar(255) DEFAULT NULL,
  `reference` varchar(255) DEFAULT NULL,
  `num_bci` varchar(255) DEFAULT NULL,
  `type_test` int(10) unsigned DEFAULT NULL,
  `id_assure` int(10) unsigned DEFAULT NULL,
  `force_reference` int(11) DEFAULT NULL,
  `insee` varchar(5) DEFAULT NULL,
  `cp` varchar(5) DEFAULT NULL,
  KEY `id_data` (`id_data`)
)
Token:
Token: ENGINE
Token: =
Token: InnoDB
Token:
Token: DEFAULT
Token:
Token: CHARSET
Token: =
Token: utf8mb3
Token:
Token: COLLATE
Token: =
Token: utf8mb3_general_ci
Token: ;
Final table info: {'columns': [], 'primary_keys': [], 'foreign_keys': []}
Token:

Token: CREATE
Token:
Token: TABLE
Token:
Token: `docu_acte_incoherence_data`
Token:
Token: (
  `id_data` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_owner` int(10) unsigned DEFAULT NULL,
  `sys_creation_date` datetime DEFAULT NULL,
  `sys_last_mod_date` datetime DEFAULT NULL,
  `sys_last_mod_user` int(10) unsigned DEFAULT NULL,
  `date_acte` varchar(255) DEFAULT NULL,
  `code_acte` varchar(255) DEFAULT NULL,
  `exo_prelv` varchar(255) DEFAULT NULL,
  `selection` varchar(255) DEFAULT NULL,
  `selection_dico` varchar(255) DEFAULT NULL,
  `selection_texte` varchar(255) DEFAULT NULL,
  `source` varchar(255) DEFAULT NULL,
  `date_import` varchar(255) DEFAULT NULL,
  `user_mod` varchar(255) DEFAULT NULL,
  `type_incoherence` int(10) unsigned DEFAULT NULL,
  `nom` varchar(255) DEFAULT NULL,
  `prenom` varchar(255) DEFAULT NULL,
  `nni_2` varchar(255) DEFAULT NULL,
  `nni_2_cle` varchar(255) DEFAULT NULL,
  `nom_jf` varchar(255) DEFAULT NULL,
  `cp` varchar(255) DEFAULT NULL,
  `localite` varchar(255) DEFAULT NULL,
  `num_med_path` varchar(255) DEFAULT NULL,
  `num_med_presc_adeli` varchar(255) DEFAULT NULL,
  `num_med_presc_rpps` varchar(255) DEFAULT NULL,
  `ddn` varchar(255) DEFAULT NULL,
  `nom_fichier` varchar(255) DEFAULT NULL,
  `elm_identifiant` varchar(255) DEFAULT NULL,
  `mark` int(10) unsigned DEFAULT NULL,
  `id_preleveur` int(11) DEFAULT NULL,
  `id_acp` int(11) DEFAULT NULL,
  `champ_gw5y` int(10) unsigned DEFAULT NULL,
  `champ_qb2i` int(11) DEFAULT NULL,
  `champ_w531` int(11) DEFAULT NULL,
  `preleveur_nom` varchar(255) DEFAULT NULL,
  `preleveur_prenom` varchar(255) DEFAULT NULL,
  `acp_nom` varchar(255) DEFAULT NULL,
  `acp_prenom` varchar(255) DEFAULT NULL,
  `champ_cdtk` varchar(255) DEFAULT NULL,
  `champ_b2sd` varchar(255) DEFAULT NULL,
  `champ_ig18` varchar(255) DEFAULT NULL,
  `id_assure` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_data`),
  KEY `mark` (`mark`),
  KEY `nom_fichier` (`nom_fichier`),
  KEY `date_acte` (`date_acte`),
  KEY `type_incoherence` (`type_incoherence`)
)
Token:
Token: ENGINE
Token: =
Token: InnoDB
Token:
Token: DEFAULT
Token:
Token: CHARSET
Token: =
Token: utf8mb3
Token:
Token: COLLATE
Token: =
Token: utf8mb3_general_ci
Token: ;
Final table info: {'columns': [], 'primary_keys': [], 'foreign_keys': []}
Token:

Token: CREATE
Token:
Token: TABLE
Token:
Token: `docu_acte_incoherence_data_group`
Token:
Token: (
  `id_data_group` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_data` int(10) unsigned NOT NULL,
  `id_group` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id_data_group`),
  UNIQUE KEY `id_data` (`id_data`,`id_group`)
)
Token:
Token: ENGINE
Token: =
Token: InnoDB
Token:
Token: DEFAULT
Token:
Token: CHARSET
Token: =
Token: utf8mb3
Token:
Token: COLLATE
Token: =
Token: utf8mb3_general_ci
Token: ;
Final table info: {'columns': [], 'primary_keys': [], 'foreign_keys': []}
Token:

Token: CREATE
Token:
Token: TABLE
Token:
Token: `docu_acte_incoherence_data_group_mode`
Token:
Token: (
  `id_data_group_mode` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_data_group` int(10) unsigned NOT NULL,
  `mode` int(10) unsigned NOT NULL,
  `date_valid` date DEFAULT NULL,
  PRIMARY KEY (`id_data_group_mode`),
  UNIQUE KEY `id_data_group` (`id_data_group`)
)
Token:
Token: ENGINE
Token: =
Token: InnoDB
Token:
Token: DEFAULT
Token:
Token: CHARSET
Token: =
Token: utf8mb3
Token:
Token: COLLATE
Token: =
Token: utf8mb3_general_ci
Token: ;
Final table info: {'columns': [], 'primary_keys': [], 'foreign_keys': []}
Token:

Token: CREATE
Token:
Token: TABLE
Token:
Token: `docu_acte_incoherence_deleted`
Token:
Token: (
  `id_data` int(10) unsigned NOT NULL,
  `id_owner` int(10) unsigned DEFAULT NULL,
  `sys_creation_date` datetime DEFAULT NULL,
  `sys_last_mod_date` datetime DEFAULT NULL,
  `sys_last_mod_user` int(10) unsigned DEFAULT NULL,
  `date_acte` varchar(255) DEFAULT NULL,
  `code_acte` varchar(255) DEFAULT NULL,
  `exo_prelv` varchar(255) DEFAULT NULL,
  `selection` varchar(255) DEFAULT NULL,
  `selection_dico` varchar(255) DEFAULT NULL,
  `selection_texte` varchar(255) DEFAULT NULL,
  `source` varchar(255) DEFAULT NULL,
  `date_import` varchar(255) DEFAULT NULL,
  `user_mod` varchar(255) DEFAULT NULL,
  `type_incoherence` int(10) unsigned DEFAULT NULL,
  `nom` varchar(255) DEFAULT NULL,
  `prenom` varchar(255) DEFAULT NULL,
  `nni_2` varchar(255) DEFAULT NULL,
  `nni_2_cle` varchar(255) DEFAULT NULL,
  `nom_jf` varchar(255) DEFAULT NULL,
  `cp` varchar(255) DEFAULT NULL,
  `localite` varchar(255) DEFAULT NULL,
  `num_med_path` varchar(255) DEFAULT NULL,
  `num_med_presc_adeli` varchar(255) DEFAULT NULL,
  `num_med_presc_rpps` varchar(255) DEFAULT NULL,
  `ddn` varchar(255) DEFAULT NULL,
  `nom_fichier` varchar(255) DEFAULT NULL,
  `elm_identifiant` varchar(255) DEFAULT NULL,
  `mark` int(10) unsigned DEFAULT NULL,
  `id_preleveur` int(11) DEFAULT NULL,
  `id_acp` int(11) DEFAULT NULL,
  `champ_gw5y` int(10) unsigned DEFAULT NULL,
  `champ_qb2i` int(11) DEFAULT NULL,
  `champ_w531` int(11) DEFAULT NULL,
  `preleveur_nom` varchar(255) DEFAULT NULL,
  `preleveur_prenom` varchar(255) DEFAULT NULL,
  `acp_nom` varchar(255) DEFAULT NULL,
  `acp_prenom` varchar(255) DEFAULT NULL,
  `champ_cdtk` varchar(255) DEFAULT NULL,
  `champ_b2sd` varchar(255) DEFAULT NULL,
  `champ_ig18` varchar(255) DEFAULT NULL,
  `id_assure` int(11) DEFAULT NULL,
  KEY `id_data` (`id_data`)
)
Token:
Token: ENGINE
Token: =
Token: InnoDB
Token:
Token: DEFAULT
Token:
Token: CHARSET
Token: =
Token: utf8mb3
Token:
Token: COLLATE
Token: =
Token: utf8mb3_general_ci
Token: ;
Final table info: {'columns': [], 'primary_keys': [], 'foreign_keys': []}
Token:

Token: CREATE
Token:
Token: TABLE
Token:
Token: `docu_acte_incoherence_v2_data`
Token:
Token: (
  `id_data` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_owner` int(10) unsigned DEFAULT NULL,
  `sys_creation_date` datetime DEFAULT NULL,
  `sys_last_mod_date` datetime DEFAULT NULL,
  `sys_last_mod_user` int(10) unsigned DEFAULT NULL,
  `nom_jf` varchar(255) DEFAULT NULL,
  `nni_2` varchar(255) DEFAULT NULL,
  `nni_2_cle` varchar(255) DEFAULT NULL,
  `cp` varchar(255) DEFAULT NULL,
  `localite` varchar(255) DEFAULT NULL,
  `ddn` varchar(255) DEFAULT NULL,
  `date_acte` varchar(255) DEFAULT NULL,
  `code_acte` varchar(255) DEFAULT NULL,
  `nir` varchar(255) DEFAULT NULL,
  `nir_cle` varchar(255) DEFAULT NULL,
  `num_rpps_exec` varchar(255) DEFAULT NULL,
  `num_am_exec` varchar(255) DEFAULT NULL,
  `num_rpps_presc` varchar(255) DEFAULT NULL,
  `num_am_presc` varchar(255) DEFAULT NULL,
  `id_exec` varchar(255) DEFAULT NULL,
  `id_presc` varchar(255) DEFAULT NULL,
  `date_import` varchar(255) DEFAULT NULL,
  `nom_fichier` varchar(255) DEFAULT NULL,
  `elm_identifiant` varchar(255) DEFAULT NULL,
  `mark` int(10) unsigned DEFAULT NULL,
  `type_incoherence` int(10) unsigned DEFAULT NULL,
  `nom` varchar(255) DEFAULT NULL,
  `prenom` varchar(255) DEFAULT NULL,
  `ameli_executant` varchar(255) DEFAULT NULL,
  `id_assure` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_data`),
  KEY `mark` (`mark`),
  KEY `nom_fichier` (`nom_fichier`),
  KEY `date_acte` (`date_acte`),
  KEY `type_incoherence` (`type_incoherence`)
)
Token:
Token: ENGINE
Token: =
Token: InnoDB
Token:
Token: AUTO_INCREMENT
Token: =
Token: 547952
Token:
Token: DEFAULT
Token:
Token: CHARSET
Token: =
Token: utf8mb3
Token:
Token: COLLATE
Token: =
Token: utf8mb3_general_ci
Token: ;
Final table info: {'columns': [], 'primary_keys': [], 'foreign_keys': []}
Token:

Token: CREATE
Token:
Token: TABLE
Token:
Token: `docu_acte_incoherence_v2_data_group`
Token:
Token: (
  `id_data_group` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_data` int(10) unsigned NOT NULL,
  `id_group` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id_data_group`),
  UNIQUE KEY `id_data` (`id_data`,`id_group`)
)
Token:
Token: ENGINE
Token: =
Token: InnoDB
Token:
Token: DEFAULT
Token:
Token: CHARSET
Token: =
Token: utf8mb3
Token:
Token: COLLATE
Token: =
Token: utf8mb3_general_ci
Token: ;
Final table info: {'columns': [], 'primary_keys': [], 'foreign_keys': []}
Token:

Token: CREATE
Token:
Token: TABLE
Token:
Token: `docu_acte_incoherence_v2_data_group_mode`
Token:
Token: (
  `id_data_group_mode` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_data_group` int(10) unsigned NOT NULL,
  `mode` int(10) unsigned NOT NULL,
  `date_valid` date DEFAULT NULL,
  PRIMARY KEY (`id_data_group_mode`),
  UNIQUE KEY `id_data_group` (`id_data_group`)
)
Token:
Token: ENGINE
Token: =
Token: InnoDB
Token:
Token: DEFAULT
Token:
Token: CHARSET
Token: =
Token: utf8mb3
Token:
Token: COLLATE
Token: =
Token: utf8mb3_general_ci
Token: ;
Final table info: {'columns': [], 'primary_keys': [], 'foreign_keys': []}
Token:

Token: CREATE
Token:
Token: TABLE
Token:
Token: `docu_acte_incoherence_v2_deleted`
Token:
Token: (
  `id_data` int(10) unsigned NOT NULL,
  `id_owner` int(10) unsigned DEFAULT NULL,
  `sys_creation_date` datetime DEFAULT NULL,
  `sys_last_mod_date` datetime DEFAULT NULL,
  `sys_last_mod_user` int(10) unsigned DEFAULT NULL,
  `nom_jf` varchar(255) DEFAULT NULL,
  `nni_2` varchar(255) DEFAULT NULL,
  `nni_2_cle` varchar(255) DEFAULT NULL,
  `cp` varchar(255) DEFAULT NULL,
  `localite` varchar(255) DEFAULT NULL,
  `ddn` varchar(255) DEFAULT NULL,
  `date_acte` varchar(255) DEFAULT NULL,
  `code_acte` varchar(255) DEFAULT NULL,
  `nir` varchar(255) DEFAULT NULL,
  `nir_cle` varchar(255) DEFAULT NULL,
  `num_rpps_exec` varchar(255) DEFAULT NULL,
  `num_am_exec` varchar(255) DEFAULT NULL,
  `num_rpps_presc` varchar(255) DEFAULT NULL,
  `num_am_presc` varchar(255) DEFAULT NULL,
  `id_exec` varchar(255) DEFAULT NULL,
  `id_presc` varchar(255) DEFAULT NULL,
  `date_import` varchar(255) DEFAULT NULL,
  `nom_fichier` varchar(255) DEFAULT NULL,
  `elm_identifiant` varchar(255) DEFAULT NULL,
  `mark` int(10) unsigned DEFAULT NULL,
  `type_incoherence` int(10) unsigned DEFAULT NULL,
  `nom` varchar(255) DEFAULT NULL,
  `prenom` varchar(255) DEFAULT NULL,
  `ameli_executant` varchar(255) DEFAULT NULL,
  `id_assure` int(11) DEFAULT NULL,
  KEY `id_data` (`id_data`)
)
Token:
Token: ENGINE
Token: =
Token: InnoDB
Token:
Token: DEFAULT
Token:
Token: CHARSET
Token: =
Token: utf8mb3
Token:
Token: COLLATE
Token: =
Token: utf8mb3_general_ci
Token: ;
Final table info: {'columns': [], 'primary_keys': [], 'foreign_keys': []}
Token:

Token: CREATE
Token:
Token: TABLE
Token:
Token: `docu_acte_mailing_data`
Token:
Token: (
  `id_data` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_owner` int(10) unsigned DEFAULT NULL,
  `sys_creation_date` datetime DEFAULT NULL,
  `sys_last_mod_date` datetime DEFAULT NULL,
  `sys_last_mod_user` int(10) unsigned DEFAULT NULL,
  `id_mailing` int(10) unsigned DEFAULT NULL,
  `id_acte` int(10) unsigned DEFAULT NULL,
  `type_test` int(10) unsigned DEFAULT NULL,
  `type_evtlog` varchar(50) DEFAULT NULL,
  `info_fields` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id_data`),
  KEY `id_mailing` (`id_mailing`),
  KEY `id_acte` (`id_acte`)
)
Token:
Token: ENGINE
Token: =
Token: InnoDB
Token:
Token: DEFAULT
Token:
Token: CHARSET
Token: =
Token: utf8mb3
Token:
Token: COLLATE
Token: =
Token: utf8mb3_general_ci
Token: ;
Final table info: {'columns': [], 'primary_keys': [], 'foreign_keys': []}
Token:

Token: CREATE
Token:
Token: TABLE
Token:
Token: `docu_acte_mailing_data_group`
Token:
Token: (
  `id_data_group` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_data` int(10) unsigned NOT NULL,
  `id_group` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id_data_group`),
  UNIQUE KEY `id_data` (`id_data`,`id_group`)
)
Token:
Token: ENGINE
Token: =
Token: InnoDB
Token:
Token: DEFAULT
Token:
Token: CHARSET
Token: =

In [16]:
import sqlparse
from tabulate import tabulate

def extract_table_info(sql):
    parsed = sqlparse.parse(sql)
    tables = []

    for statement in parsed:
        if statement.get_type() == 'CREATE':
            table_info = {}
            tokens = statement.tokens
            
            table_name = None
            columns = []
            primary_keys = []
            foreign_keys = []

            in_columns = False
            in_primary_key = False
            in_foreign_key = False

            for token in tokens:
                if token.is_keyword and token.value.upper() == 'TABLE':
                    table_name = token.get_real_name()
                    table_info['table_name'] = table_name.strip('`')
                
                if token.is_group:
                    for inner_token in token.flatten():
                        if inner_token.is_group:
                            if inner_token.value.upper() == 'PRIMARY KEY':
                                in_primary_key = True
                                in_columns = False
                                continue
                            elif inner_token.value.upper().startswith('FOREIGN KEY'):
                                in_foreign_key = True
                                in_columns = False
                                continue
                        
                        if in_columns:
                            if isinstance(inner_token, sqlparse.sql.Identifier):
                                column_name = inner_token.get_real_name()
                                column_type = inner_token.tokens[-1].get_real_name()
                                columns.append((column_name, column_type))
                        elif in_primary_key:
                            if isinstance(inner_token, sqlparse.sql.Identifier):
                                primary_keys.append(inner_token.get_real_name())
                        elif in_foreign_key:
                            if isinstance(inner_token, sqlparse.sql.Identifier):
                                foreign_keys.append(inner_token.get_real_name())
                        
                        if inner_token.is_group and inner_token.value == '(':
                            in_columns = True
                        elif inner_token.is_group and inner_token.value == ')':
                            in_columns = False
                            in_primary_key = False
                            in_foreign_key = False
            
            table_info['columns'] = columns
            table_info['primary_keys'] = primary_keys
            table_info['foreign_keys'] = foreign_keys
            
            if table_name:
                tables.append(table_info)
    
    return tables

def parse_sql_dump(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        sql = file.read()
    
    tables = extract_table_info(sql)
    return tables

def print_table_info(table_info):
    for table in table_info:
        if 'table_name' in table:
            print(f"Table: {table['table_name']}")
            headers = ["Column Name", "Data Type"]
            print(tabulate(table['columns'], headers=headers, tablefmt="pretty"))
            if table['primary_keys']:
                print(f"Primary Key(s): {', '.join(table['primary_keys'])}")
            if table['foreign_keys']:
                print(f"Foreign Key(s): {', '.join(table['foreign_keys'])}")
            print("\n")

# Example usage
sql_dump_path = '../../../../Desktop/docu_str.sql'
table_info = parse_sql_dump(sql_dump_path)
print_table_info(table_info)

AttributeError: 'Token' object has no attribute 'get_real_name'

In [17]:
import sqlparse
from tabulate import tabulate

def extract_table_info(sql):
    # Parse the SQL statements
    parsed = sqlparse.parse(sql)
    
    tables = []
    
    for statement in parsed:
        if statement.get_type() == 'CREATE':
            table_info = {}
            tokens = statement.flatten()
            
            table_name = None
            columns = []
            primary_keys = []
            foreign_keys = []
            
            in_columns = False
            in_primary_key = False
            in_foreign_key = False

            for token in tokens:
                # Skip whitespace tokens
                if token.ttype is sqlparse.tokens.Whitespace:
                    continue

                if token.is_keyword and token.value.upper() == 'TABLE':
                    table_name = token.get_real_name()
                    table_info['table_name'] = table_name.strip('`')
                
                if token.is_group:
                    for inner_token in token.flatten():
                        if inner_token.is_group:
                            if inner_token.value.upper() == 'PRIMARY KEY':
                                in_primary_key = True
                                in_columns = False
                                continue
                            elif inner_token.value.upper().startswith('FOREIGN KEY'):
                                in_foreign_key = True
                                in_columns = False
                                continue
                        
                        if in_columns:
                            if isinstance(inner_token, sqlparse.sql.Identifier):
                                column_name = inner_token.get_real_name()
                                column_type = inner_token.tokens[-1].get_real_name()
                                columns.append((column_name, column_type))
                        elif in_primary_key:
                            if isinstance(inner_token, sqlparse.sql.Identifier):
                                primary_keys.append(inner_token.get_real_name())
                        elif in_foreign_key:
                            if isinstance(inner_token, sqlparse.sql.Identifier):
                                foreign_keys.append(inner_token.get_real_name())
                        
                        if inner_token.is_group and inner_token.value == '(':
                            in_columns = True
                        elif inner_token.is_group and inner_token.value == ')':
                            in_columns = False
                            in_primary_key = False
                            in_foreign_key = False
            
            table_info['columns'] = columns
            table_info['primary_keys'] = primary_keys
            table_info['foreign_keys'] = foreign_keys
            
            if table_name:
                tables.append(table_info)
    
    return tables

def parse_sql_dump(file_path):
    # Read the SQL dump file
    with open(file_path, 'r', encoding='utf-8') as file:
        sql = file.read()
    
    # Extract table information
    tables = extract_table_info(sql)
    return tables

def print_table_info(table_info):
    for table in table_info:
        if 'table_name' in table:
            print(f"Table: {table['table_name']}")
            headers = ["Column Name", "Data Type"]
            print(tabulate(table['columns'], headers=headers, tablefmt="pretty"))
            if table['primary_keys']:
                print(f"Primary Key(s): {', '.join(table['primary_keys'])}")
            if table['foreign_keys']:
                print(f"Foreign Key(s): {', '.join(table['foreign_keys'])}")
            print("\n")

# Example usage
sql_dump_path = '../../../../Desktop/docu_str.sql'
table_info = parse_sql_dump(sql_dump_path)
print_table_info(table_info)

AttributeError: 'Token' object has no attribute 'get_real_name'

In [18]:
import sqlparse
from tabulate import tabulate

def extract_table_info(sql):
    parsed = sqlparse.parse(sql)
    tables = []

    for statement in parsed:
        if statement.get_type() == 'CREATE':
            table_info = {}
            tokens = statement.flatten()
            
            table_name = None
            columns = []
            primary_keys = []
            foreign_keys = []
            
            in_columns = False
            in_primary_key = False
            in_foreign_key = False

            for token in tokens:
                # Skip whitespace tokens
                if token.ttype is sqlparse.tokens.Whitespace:
                    continue

                if token.is_keyword and token.value.upper() == 'TABLE':
                    # Extract table name
                    table_name = tokens[tokens.index(token) + 2].value.strip('`')
                    table_info['table_name'] = table_name
                
                if token.is_group:
                    for inner_token in token.flatten():
                        if inner_token.is_group:
                            if inner_token.value.upper() == 'PRIMARY KEY':
                                in_primary_key = True
                                in_columns = False
                                continue
                            elif inner_token.value.upper().startswith('FOREIGN KEY'):
                                in_foreign_key = True
                                in_columns = False
                                continue
                        
                        if in_columns:
                            if isinstance(inner_token, sqlparse.sql.Identifier):
                                column_name = inner_token.value.strip('`')
                                column_type = inner_token.tokens[-1].value
                                columns.append((column_name, column_type))
                        elif in_primary_key:
                            if isinstance(inner_token, sqlparse.sql.Identifier):
                                primary_keys.append(inner_token.value.strip('`'))
                        elif in_foreign_key:
                            if isinstance(inner_token, sqlparse.sql.Identifier):
                                foreign_keys.append(inner_token.value.strip('`'))
                        
                        if inner_token.is_group and inner_token.value == '(':
                            in_columns = True
                        elif inner_token.is_group and inner_token.value == ')':
                            in_columns = False
                            in_primary_key = False
                            in_foreign_key = False
            
            table_info['columns'] = columns
            table_info['primary_keys'] = primary_keys
            table_info['foreign_keys'] = foreign_keys
            
            if table_name:
                tables.append(table_info)
    
    return tables

def parse_sql_dump(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        sql = file.read()
    
    tables = extract_table_info(sql)
    return tables

def print_table_info(table_info):
    for table in table_info:
        if 'table_name' in table:
            print(f"Table: {table['table_name']}")
            headers = ["Column Name", "Data Type"]
            print(tabulate(table['columns'], headers=headers, tablefmt="pretty"))
            if table['primary_keys']:
                print(f"Primary Key(s): {', '.join(table['primary_keys'])}")
            if table['foreign_keys']:
                print(f"Foreign Key(s): {', '.join(table['foreign_keys'])}")
            print("\n")

# Example usage
sql_dump_path = '../../../../Desktop/docu_str.sql'
table_info = parse_sql_dump(sql_dump_path)
print_table_info(table_info)

AttributeError: 'generator' object has no attribute 'index'

In [21]:
import sqlparse
from tabulate import tabulate

def extract_table_info(sql):
    parsed = sqlparse.parse(sql)
    tables = []

    for statement in parsed:
        if statement.get_type() == 'CREATE':
            table_info = {}
            tokens = statement.tokens
            
            table_name = None
            columns = []
            primary_keys = []
            foreign_keys = []

            in_parenthesis = False
            in_primary_key = False
            in_foreign_key = False
            for token in tokens:
                if token.ttype is sqlparse.tokens.Whitespace:
                    continue
                
                if token.is_keyword and token.value.upper() == 'TABLE':
                    table_name = tokens[tokens.index(token) + 2].value.strip('`')
                    table_info['table_name'] = table_name
                
                if isinstance(token, sqlparse.sql.Parenthesis):
                    in_parenthesis = True
                    continue
                
                if in_parenthesis:
                    if isinstance(token, sqlparse.sql.Identifier):
                        if in_primary_key:
                            primary_keys.append(token.get_real_name().strip('`'))
                        elif in_foreign_key:
                            foreign_keys.append(token.get_real_name().strip('`'))
                        else:
                            column_name = token.get_real_name().strip('`')
                            column_type = token.tokens[-1].value
                            columns.append((column_name, column_type))
                    elif token.value.upper() == 'PRIMARY':
                        in_primary_key = True
                    elif token.value.upper() == 'FOREIGN':
                        in_foreign_key = True
                    elif token.value == ')':
                        in_parenthesis = False
                        in_primary_key = False
                        in_foreign_key = False
            
            table_info['columns'] = columns
            table_info['primary_keys'] = primary_keys
            table_info['foreign_keys'] = foreign_keys
            
            if table_name:
                tables.append(table_info)
    
    return tables

def parse_sql_dump(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        sql = file.read()
    
    tables = extract_table_info(sql)
    return tables

def print_table_info(table_info):
    for table in table_info:
        if 'table_name' in table:
            print(f"Table: {table['table_name']}")
            headers = ["Column Name", "Data Type"]
            print(tabulate(table['columns'], headers=headers, tablefmt="pretty"))
            if table['primary_keys']:
                print(f"Primary Key(s): {', '.join(table['primary_keys'])}")
            if table['foreign_keys']:
                print(f"Foreign Key(s): {', '.join(table['foreign_keys'])}")
            print("\n")

# Example usage
sql_dump_path = '../../../../Desktop/docu_str.sql'
table_info = parse_sql_dump(sql_dump_path)
print_table_info(table_info)

Table: aggregate_completed
+-------------------+-------------------+
|    Column Name    |     Data Type     |
+-------------------+-------------------+
|      InnoDB       |      InnoDB       |
|      latin1       |      latin1       |
| latin1_swedish_ci | latin1_swedish_ci |
+-------------------+-------------------+


Table: docu_acte_assure_stat_data
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_assure_stat_data_group
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_assure_stat_data_group_mode
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_assure_stat_deleted
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_data
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_data_group
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_data_group_mode
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_deleted
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_incoherence_data
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_incoherence_data_group
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_incoherence_data_group_mode
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_incoherence_deleted
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_incoherence_v2_data
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_incoherence_v2_data_group
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_incoherence_v2_data_group_mode
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_incoherence_v2_deleted
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_mailing_data
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_mailing_data_group
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_mailing_data_group_mode
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_mailing_deleted
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_orphelin_data
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_orphelin_data_group
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_orphelin_data_group_mode
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_orphelin_deleted
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_orphelin_v2_data
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_orphelin_v2_data_group
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_orphelin_v2_data_group_mode
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_orphelin_v2_deleted
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_stat_data
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_stat_data_group
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_stat_data_group_mode
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_acte_stat_deleted
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_action_data
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_action_data_group
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_action_data_group_mode
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_action_deleted
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_adicap_chir_data
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_adicap_chir_data_group
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_adicap_chir_data_group_mode
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_adicap_chir_deleted
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_adicap_data
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_adicap_data_group
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_adicap_data_group_mode
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_adicap_deleted
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_adicap_frottis_data
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_adicap_frottis_data_group
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_adicap_frottis_data_group_mode
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_adicap_frottis_deleted
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_adicap_histo_data
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_adicap_histo_data_group
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_adicap_histo_data_group_mode
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_adicap_histo_deleted
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_adicap_hpv_data
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_adicap_hpv_data_group
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_adicap_hpv_data_group_mode
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_adicap_hpv_deleted
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+


Table: docu_adicap_immuno_data
+--------------------+--------------------+
|    Column Name     |     Data Type      |
+--------------------+--------------------+
|       InnoDB       |       InnoDB       |
|      utf8mb3       |      utf8mb3       |
| utf8mb3_general_ci | utf8mb3_general_ci |
+--------------------+--------------------+



In [98]:
import sqlparse
from tabulate import tabulate

def extract_table_info(sql):
    parsed = sqlparse.parse(sql)
    tables = []
    for statement in parsed:
        if statement.get_type() == 'CREATE':
            table_info = {}
            tokens = statement.tokens
            
            table_name = None
            columns = []
            primary_keys = []
            foreign_keys = []

            in_parenthesis = False
            in_primary_key = False
            in_foreign_key = False

            for token in tokens:
                if str(token).startswith('`'):
                    table_name = str(token).strip('`')
                    print(table_name)
                elif str(token).startswith('('):
                    #print(token)
                    liste_infos = str(token).strip('()').split('\n')
                    for info in liste_infos:
                        if info == '':
                            continue
                        else:
                            infos = info.strip().split(' ')
                            print(infos[0])
                            if infos[0].startswith('`'):
                                column_name = infos[0].strip('`')
                                columns_type = infos[1]
                                columns.append((column_name, columns_type))
                            elif infos[0] == 'PRIMARY':
                                print(info)
                                #print("lol")
                                #print(infos[0], infos[2].strip('(').strip('`').strip(',').strip(')').strip('`'))
                            elif infos[0] in ['KEY', 'UNIQUE']:
                                print(infos)
                            else:
                                print("hello")
    return tables

def parse_sql_dump(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        sql = file.read()
    
    tables = extract_table_info(sql)
    return tables

def print_table_info(table_info):
    for table in table_info:
        if 'table_name' in table:
            print(f"Table: {table['table_name']}")
            headers = ["Column Name", "Data Type"]
            print(tabulate(table['columns'], headers=headers, tablefmt="pretty"))
            if table['primary_keys']:
                print(f"Primary Key(s): {', '.join(table['primary_keys'])}")
            if table['foreign_keys']:
                print(f"Foreign Key(s): {', '.join(table['foreign_keys'])}")
            print("\n")

# Example usage
sql_dump_path = '../../../../Desktop/docu_str.sql'
table_info = parse_sql_dump(sql_dump_path)
print_table_info(table_info)

aggregate_completed
`col_name`
docu_acte_assure_stat_data
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`ddn`
`dep`
`id_assure`
`id_acte`
`date_acte`
`type_test`
`num_ref`
`caisse`
`id_bci`
`insee`
`med_traitant`
`med_gyneco`
`npai`
`date_import`
`invitrel_moins_1an`
`depistage_moins_3_5ans`
`npai_relance`
`depistage_primaire`
`date_deces`
`date_create`
`cmu`
`acte_insee`
PRIMARY
  PRIMARY KEY (`id_data`),
KEY
['KEY', '`date_acte`', '(`date_acte`)']
docu_acte_assure_stat_data_group
`id_data_group`
`id_data`
`id_group`
PRIMARY
  PRIMARY KEY (`id_data_group`),
UNIQUE
['UNIQUE', 'KEY', '`id_data`', '(`id_data`,`id_group`)']
docu_acte_assure_stat_data_group_mode
`id_data_group_mode`
`id_data_group`
`mode`
`date_valid`
PRIMARY
  PRIMARY KEY (`id_data_group_mode`),
UNIQUE
['UNIQUE', 'KEY', '`id_data_group`', '(`id_data_group`)']
docu_acte_assure_stat_deleted
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`ddn`
`dep`
`id_assure`
`id_acte`
`date_acte`
`type_test`
`num_ref`
`caisse`
`id_bci`
`insee`
`med_traitant`
`med_gyneco`
`npai`
`date_import`
`invitrel_moins_1an`
`depistage_moins_3_5ans`
`npai_relance`
`depistage_primaire`
`date_deces`
`date_create`
`cmu`
`acte_insee`
KEY
['KEY', '`id_data`', '(`id_data`)']
docu_acte_data
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`date_acte`
`code_acte`
`exo_prelv`
`selection`
`selection_dico`
`selection_texte`
`source`
`date_import`
`user_mod`
`reference`
`num_bci`
`type_test`
`id_assure`
`force_reference`
`insee`
`cp`
PRIMARY
  PRIMARY KEY (`id_data`),
KEY
['KEY', '`id_assure`', '(`id_assure`),']
KEY
['KEY', '`date_acte`', '(`date_acte`),']
KEY
['KEY', '`code_acte`', '(`code_acte`)']
docu_acte_data_group
`id_data_group`
`id_data`
`id_group`
PRIMARY
  PRIMARY KEY (`id_data_group`),
UNIQUE
['UNIQUE', 'KEY', '`id_data`', '(`id_data`,`id_group`)']
docu_acte_data_group_mode
`id_data_group_mode`
`id_data_group`
`mode`
`date_valid`
PRIMARY
  PRIMARY KEY (`id_data_group_mode`),
UNIQUE
['UNIQUE', 'KEY', '`id_data_group`', '(`id_data_group`)']
docu_acte_deleted
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`date_acte`
`code_acte`
`exo_prelv`
`selection`
`selection_dico`
`selection_texte`
`source`
`date_import`
`user_mod`
`reference`
`num_bci`
`type_test`
`id_assure`
`force_reference`
`insee`
`cp`
KEY
['KEY', '`id_data`', '(`id_data`)']
docu_acte_incoherence_data
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`date_acte`
`code_acte`
`exo_prelv`
`selection`
`selection_dico`
`selection_texte`
`source`
`date_import`
`user_mod`
`type_incoherence`
`nom`
`prenom`
`nni_2`
`nni_2_cle`
`nom_jf`
`cp`
`localite`
`num_med_path`
`num_med_presc_adeli`
`num_med_presc_rpps`
`ddn`
`nom_fichier`
`elm_identifiant`
`mark`
`id_preleveur`
`id_acp`
`champ_gw5y`
`champ_qb2i`
`champ_w531`
`preleveur_nom`
`preleveur_prenom`
`acp_nom`
`acp_prenom`
`champ_cdtk`
`champ_b2sd`
`champ_ig18`
`id_assure`
PRIMARY
  PRIMARY KEY (`id_data`),
KEY
['KEY', '`mark`', '(`mark`),']
KEY
['KEY', '`nom_fichier`', '(`nom_fichier`),']
KEY
['KEY', '`date_acte`', '(`date_acte`),']
KEY
['KEY', '`type_incoherence`', '(`type_incoherence`)']
docu_acte_incoherence_data_group
`id_data_group`
`id_data`
`id_group`
PRIMARY
  PRIMARY KEY (`id_data_group`),
UNIQUE
['UNIQUE', 'KEY', '`id_data`', '(`id_data`,`id_group`)']
docu_acte_incoherence_data_group_mode
`id_data_group_mode`
`id_data_group`
`mode`
`date_valid`
PRIMARY
  PRIMARY KEY (`id_data_group_mode`),
UNIQUE
['UNIQUE', 'KEY', '`id_data_group`', '(`id_data_group`)']
docu_acte_incoherence_deleted
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`date_acte`
`code_acte`
`exo_prelv`
`selection`
`selection_dico`
`selection_texte`
`source`
`date_import`
`user_mod`
`type_incoherence`
`nom`
`prenom`
`nni_2`
`nni_2_cle`
`nom_jf`
`cp`
`localite`
`num_med_path`
`num_med_presc_adeli`
`num_med_presc_rpps`
`ddn`
`nom_fichier`
`elm_identifiant`
`mark`
`id_preleveur`
`id_acp`
`champ_gw5y`
`champ_qb2i`
`champ_w531`
`preleveur_nom`
`preleveur_prenom`
`acp_nom`
`acp_prenom`
`champ_cdtk`
`champ_b2sd`
`champ_ig18`
`id_assure`
KEY
['KEY', '`id_data`', '(`id_data`)']
docu_acte_incoherence_v2_data
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`nom_jf`
`nni_2`
`nni_2_cle`
`cp`
`localite`
`ddn`
`date_acte`
`code_acte`
`nir`
`nir_cle`
`num_rpps_exec`
`num_am_exec`
`num_rpps_presc`
`num_am_presc`
`id_exec`
`id_presc`
`date_import`
`nom_fichier`
`elm_identifiant`
`mark`
`type_incoherence`
`nom`
`prenom`
`ameli_executant`
`id_assure`
PRIMARY
  PRIMARY KEY (`id_data`),
KEY
['KEY', '`mark`', '(`mark`),']
KEY
['KEY', '`nom_fichier`', '(`nom_fichier`),']
KEY
['KEY', '`date_acte`', '(`date_acte`),']
KEY
['KEY', '`type_incoherence`', '(`type_incoherence`)']
docu_acte_incoherence_v2_data_group
`id_data_group`
`id_data`
`id_group`
PRIMARY
  PRIMARY KEY (`id_data_group`),
UNIQUE
['UNIQUE', 'KEY', '`id_data`', '(`id_data`,`id_group`)']
docu_acte_incoherence_v2_data_group_mode
`id_data_group_mode`
`id_data_group`
`mode`
`date_valid`
PRIMARY
  PRIMARY KEY (`id_data_group_mode`),
UNIQUE
['UNIQUE', 'KEY', '`id_data_group`', '(`id_data_group`)']
docu_acte_incoherence_v2_deleted
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`nom_jf`
`nni_2`
`nni_2_cle`
`cp`
`localite`
`ddn`
`date_acte`
`code_acte`
`nir`
`nir_cle`
`num_rpps_exec`
`num_am_exec`
`num_rpps_presc`
`num_am_presc`
`id_exec`
`id_presc`
`date_import`
`nom_fichier`
`elm_identifiant`
`mark`
`type_incoherence`
`nom`
`prenom`
`ameli_executant`
`id_assure`
KEY
['KEY', '`id_data`', '(`id_data`)']
docu_acte_mailing_data
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`id_mailing`
`id_acte`
`type_test`
`type_evtlog`
`info_fields`
PRIMARY
  PRIMARY KEY (`id_data`),
KEY
['KEY', '`id_mailing`', '(`id_mailing`),']
KEY
['KEY', '`id_acte`', '(`id_acte`)']
docu_acte_mailing_data_group
`id_data_group`
`id_data`
`id_group`
PRIMARY
  PRIMARY KEY (`id_data_group`),
UNIQUE
['UNIQUE', 'KEY', '`id_data`', '(`id_data`,`id_group`)']
docu_acte_mailing_data_group_mode
`id_data_group_mode`
`id_data_group`
`mode`
`date_valid`
PRIMARY
  PRIMARY KEY (`id_data_group_mode`),
UNIQUE
['UNIQUE', 'KEY', '`id_data_group`', '(`id_data_group`)']
docu_acte_mailing_deleted
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`id_mailing`
`id_acte`
`type_test`
`type_evtlog`
`info_fields`
KEY
['KEY', '`id_data`', '(`id_data`)']
docu_acte_orphelin_data
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`date_acte`
`code_acte`
`exo_prelv`
`selection`
`selection_dico`
`selection_texte`
`source`
`date_import`
`user_mod`
`nom`
`prenom`
`nom_jf`
`nni_2`
`nni_2_cle`
`cp`
`localite`
`num_med_path`
`num_med_presc_adeli`
`num_med_presc_rpps`
`ddn`
`nom_fichier`
`elm_identifiant`
`mark`
`filter_1`
`filter_2`
`filter_3`
`filter_4`
`filter_5`
`filter_6`
`filter_7`
`filter_8`
`id_preleveur`
`id_acp`
`champ_um39`
`champ_q724`
`nir`
`nir_cle`
`id_assure`
PRIMARY
  PRIMARY KEY (`id_data`),
KEY
['KEY', '`mark`', '(`mark`),']
KEY
['KEY', '`nom_fichier`', '(`nom_fichier`),']
KEY
['KEY', '`date_acte`', '(`date_acte`),']
KEY
['KEY', '`filter_1`', '(`filter_1`),']
KEY
['KEY', '`filter_2`', '(`filter_2`),']
KEY
['KEY', '`filter_3`', '(`filter_3`),']
KEY
['KEY', '`filter_4`', '(`filter_4`),']
KEY
['KEY', '`filter_5`', '(`filter_5`),']
KEY
['KEY', '`filter_6`', '(`filter_6`),']
KEY
['KEY', '`filter_7`', '(`filter_7`),']
KEY
['KEY', '`filter_8`', '(`filter_8`),']
KEY
['KEY', '`date_import`', '(`date_import`)']
docu_acte_orphelin_data_group
`id_data_group`
`id_data`
`id_group`
PRIMARY
  PRIMARY KEY (`id_data_group`),
UNIQUE
['UNIQUE', 'KEY', '`id_data`', '(`id_data`,`id_group`)']
docu_acte_orphelin_data_group_mode
`id_data_group_mode`
`id_data_group`
`mode`
`date_valid`
PRIMARY
  PRIMARY KEY (`id_data_group_mode`),
UNIQUE
['UNIQUE', 'KEY', '`id_data_group`', '(`id_data_group`)']
docu_acte_orphelin_deleted
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`date_acte`
`code_acte`
`exo_prelv`
`selection`
`selection_dico`
`selection_texte`
`source`
`date_import`
`user_mod`
`nom`
`prenom`
`nom_jf`
`nni_2`
`nni_2_cle`
`cp`
`localite`
`num_med_path`
`num_med_presc_adeli`
`num_med_presc_rpps`
`ddn`
`nom_fichier`
`elm_identifiant`
`mark`
`filter_1`
`filter_2`
`filter_3`
`filter_4`
`filter_5`
`filter_6`
`filter_7`
`filter_8`
`id_preleveur`
`id_acp`
`champ_um39`
`champ_q724`
`nir`
`nir_cle`
`id_assure`
KEY
['KEY', '`id_data`', '(`id_data`)']
docu_acte_orphelin_v2_data
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`nom_jf`
`nni_2`
`nni_2_cle`
`nir`
`nir_cle`
`ddn`
`cp`
`localite`
`date_acte`
`code_acte`
`id_exec`
`id_presc`
`num_rpps_exec`
`num_am_exec`
`num_rpps_presc`
`num_am_presc`
`date_import`
`nom_fichier`
`elm_identifiant`
`mark`
`filter_1`
`filter_2`
`filter_3`
`filter_4`
`filter_5`
`filter_6`
`filter_7`
`filter_8`
`nom`
`prenom`
`ameli_executant`
`id_assure`
PRIMARY
  PRIMARY KEY (`id_data`),
KEY
['KEY', '`mark`', '(`mark`),']
KEY
['KEY', '`nom_fichier`', '(`nom_fichier`),']
KEY
['KEY', '`date_acte`', '(`date_acte`),']
KEY
['KEY', '`filter_1`', '(`filter_1`),']
KEY
['KEY', '`filter_2`', '(`filter_2`),']
KEY
['KEY', '`filter_3`', '(`filter_3`),']
KEY
['KEY', '`filter_4`', '(`filter_4`),']
KEY
['KEY', '`filter_5`', '(`filter_5`),']
KEY
['KEY', '`filter_6`', '(`filter_6`),']
KEY
['KEY', '`filter_7`', '(`filter_7`),']
KEY
['KEY', '`filter_8`', '(`filter_8`),']
KEY
['KEY', '`date_import`', '(`date_import`)']
docu_acte_orphelin_v2_data_group
`id_data_group`
`id_data`
`id_group`
PRIMARY
  PRIMARY KEY (`id_data_group`),
UNIQUE
['UNIQUE', 'KEY', '`id_data`', '(`id_data`,`id_group`)']
docu_acte_orphelin_v2_data_group_mode
`id_data_group_mode`
`id_data_group`
`mode`
`date_valid`
PRIMARY
  PRIMARY KEY (`id_data_group_mode`),
UNIQUE
['UNIQUE', 'KEY', '`id_data_group`', '(`id_data_group`)']
docu_acte_orphelin_v2_deleted
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`nom_jf`
`nni_2`
`nni_2_cle`
`nir`
`nir_cle`
`ddn`
`cp`
`localite`
`date_acte`
`code_acte`
`id_exec`
`id_presc`
`num_rpps_exec`
`num_am_exec`
`num_rpps_presc`
`num_am_presc`
`date_import`
`nom_fichier`
`elm_identifiant`
`mark`
`filter_1`
`filter_2`
`filter_3`
`filter_4`
`filter_5`
`filter_6`
`filter_7`
`filter_8`
`nom`
`prenom`
`ameli_executant`
`id_assure`
KEY
['KEY', '`id_data`', '(`id_data`)']
docu_acte_stat_data
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`nombre`
`test_label`
`date_acte`
`dep`
`test_code`
PRIMARY
  PRIMARY KEY (`id_data`)
docu_acte_stat_data_group
`id_data_group`
`id_data`
`id_group`
PRIMARY
  PRIMARY KEY (`id_data_group`),
UNIQUE
['UNIQUE', 'KEY', '`id_data`', '(`id_data`,`id_group`)']
docu_acte_stat_data_group_mode
`id_data_group_mode`
`id_data_group`
`mode`
`date_valid`
PRIMARY
  PRIMARY KEY (`id_data_group_mode`),
UNIQUE
['UNIQUE', 'KEY', '`id_data_group`', '(`id_data_group`)']
docu_acte_stat_deleted
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`nombre`
`test_label`
`date_acte`
`dep`
`test_code`
KEY
['KEY', '`id_data`', '(`id_data`)']
docu_action_data
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`content`
PRIMARY
  PRIMARY KEY (`id_data`)
docu_action_data_group
`id_data_group`
`id_data`
`id_group`
PRIMARY
  PRIMARY KEY (`id_data_group`),
UNIQUE
['UNIQUE', 'KEY', '`id_data`', '(`id_data`,`id_group`)']
docu_action_data_group_mode
`id_data_group_mode`
`id_data_group`
`mode`
`date_valid`
PRIMARY
  PRIMARY KEY (`id_data_group_mode`),
UNIQUE
['UNIQUE', 'KEY', '`id_data_group`', '(`id_data_group`)']
docu_action_deleted
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`content`
KEY
['KEY', '`id_data`', '(`id_data`)']
docu_adicap_chir_data
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`type_adicap`
`id_chir`
`id_adicap`
`prefixe`
PRIMARY
  PRIMARY KEY (`id_data`),
KEY
['KEY', '`id_adicap`', '(`id_adicap`),']
KEY
['KEY', '`id_chir`', '(`id_chir`)']
docu_adicap_chir_data_group
`id_data_group`
`id_data`
`id_group`
PRIMARY
  PRIMARY KEY (`id_data_group`),
UNIQUE
['UNIQUE', 'KEY', '`id_data`', '(`id_data`,`id_group`)']
docu_adicap_chir_data_group_mode
`id_data_group_mode`
`id_data_group`
`mode`
`date_valid`
PRIMARY
  PRIMARY KEY (`id_data_group_mode`),
UNIQUE
['UNIQUE', 'KEY', '`id_data_group`', '(`id_data_group`)']
docu_adicap_chir_deleted
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`type_adicap`
`id_chir`
`id_adicap`
`prefix`
KEY
['KEY', '`id_data`', '(`id_data`)']
docu_adicap_data
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`id_test`
`adicap`
`label_adicap`
`cimo`
`label_cimo`
`cg`
`source`
`rang`
`resultat`
`label_complet`
`libre`
`organe`
`resultat_histo`
`resultat_frottis`
`resultat_chir`
`resultat_dico`
`resultat_hpv`
`resultat_immuno`
`resultat_frottis_v2`
PRIMARY
  PRIMARY KEY (`id_data`),
KEY
['KEY', '`adicap`', '(`adicap`),']
KEY
['KEY', '`id_test`', '(`id_test`)']
docu_adicap_data_group
`id_data_group`
`id_data`
`id_group`
PRIMARY
  PRIMARY KEY (`id_data_group`),
UNIQUE
['UNIQUE', 'KEY', '`id_data`', '(`id_data`,`id_group`)']
docu_adicap_data_group_mode
`id_data_group_mode`
`id_data_group`
`mode`
`date_valid`
PRIMARY
  PRIMARY KEY (`id_data_group_mode`),
UNIQUE
['UNIQUE', 'KEY', '`id_data_group`', '(`id_data_group`)']
docu_adicap_deleted
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`id_test`
`adicap`
`label_adicap`
`cimo`
`label_cimo`
`cg`
`source`
`rang`
`resultat`
`label_complet`
`libre`
`organe`
`resultat_histo`
`resultat_frottis`
`resultat_chir`
`resultat_dico`
`resultat_hpv`
`resultat_immuno`
`resultat_frottis_v2`
KEY
['KEY', '`id_data`', '(`id_data`)']
docu_adicap_frottis_data
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`id_frottis`
`id_adicap`
`type_adicap`
`prefixe`
PRIMARY
  PRIMARY KEY (`id_data`),
KEY
['KEY', '`id_frottis`', '(`id_frottis`),']
KEY
['KEY', '`id_adicap`', '(`id_adicap`)']
docu_adicap_frottis_data_group
`id_data_group`
`id_data`
`id_group`
PRIMARY
  PRIMARY KEY (`id_data_group`),
UNIQUE
['UNIQUE', 'KEY', '`id_data`', '(`id_data`,`id_group`)']
docu_adicap_frottis_data_group_mode
`id_data_group_mode`
`id_data_group`
`mode`
`date_valid`
PRIMARY
  PRIMARY KEY (`id_data_group_mode`),
UNIQUE
['UNIQUE', 'KEY', '`id_data_group`', '(`id_data_group`)']
docu_adicap_frottis_deleted
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`id_frottis`
`id_adicap`
`type_adicap`
`prefixe`
KEY
['KEY', '`id_data`', '(`id_data`)']
docu_adicap_histo_data
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`id_histo`
`id_adicap`
`type_adicap`
`prefixe`
PRIMARY
  PRIMARY KEY (`id_data`),
KEY
['KEY', '`id_adicap`', '(`id_adicap`),']
KEY
['KEY', '`id_histo`', '(`id_histo`)']
docu_adicap_histo_data_group
`id_data_group`
`id_data`
`id_group`
PRIMARY
  PRIMARY KEY (`id_data_group`),
UNIQUE
['UNIQUE', 'KEY', '`id_data`', '(`id_data`,`id_group`)']
docu_adicap_histo_data_group_mode
`id_data_group_mode`
`id_data_group`
`mode`
`date_valid`
PRIMARY
  PRIMARY KEY (`id_data_group_mode`),
UNIQUE
['UNIQUE', 'KEY', '`id_data_group`', '(`id_data_group`)']
docu_adicap_histo_deleted
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`id_histo`
`id_adicap`
`type_adicap`
`prefix`
KEY
['KEY', '`id_data`', '(`id_data`)']
docu_adicap_hpv_data
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`id_adicap`
`type_adicap`
`prefixe`
`id_hpv`
PRIMARY
  PRIMARY KEY (`id_data`),
KEY
['KEY', '`id_adicap`', '(`id_adicap`),']
KEY
['KEY', '`id_hpv`', '(`id_hpv`)']
docu_adicap_hpv_data_group
`id_data_group`
`id_data`
`id_group`
PRIMARY
  PRIMARY KEY (`id_data_group`),
UNIQUE
['UNIQUE', 'KEY', '`id_data`', '(`id_data`,`id_group`)']
docu_adicap_hpv_data_group_mode
`id_data_group_mode`
`id_data_group`
`mode`
`date_valid`
PRIMARY
  PRIMARY KEY (`id_data_group_mode`),
UNIQUE
['UNIQUE', 'KEY', '`id_data_group`', '(`id_data_group`)']
docu_adicap_hpv_deleted
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`id_adicap`
`type_adicap`
`prefixe`
`id_hpv`
KEY
['KEY', '`id_data`', '(`id_data`)']
docu_adicap_immuno_data
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`id_adicap`
`type_adicap`
`prefixe`
`id_immuno`
PRIMARY
  PRIMARY KEY (`id_data`),
KEY
['KEY', '`id_adicap`', '(`id_adicap`),']
KEY
['KEY', '`id_immuno`', '(`id_immuno`)']
docu_adicap_immuno_data_group
`id_data_group`
`id_data`
`id_group`
PRIMARY
  PRIMARY KEY (`id_data_group`),
UNIQUE
['UNIQUE', 'KEY', '`id_data`', '(`id_data`,`id_group`)']
docu_adicap_immuno_data_group_mode
`id_data_group_mode`
`id_data_group`
`mode`
`date_valid`
PRIMARY
  PRIMARY KEY (`id_data_group_mode`),
UNIQUE
['UNIQUE', 'KEY', '`id_data_group`', '(`id_data_group`)']
docu_adicap_immuno_deleted
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`id_adicap`
`type_adicap`
`prefixe`
`id_immuno`
KEY
['KEY', '`id_data`', '(`id_data`)']
docu_assure_data_group
`id_data_group`
`id_data`
`id_group`
PRIMARY
  PRIMARY KEY (`id_data_group`),
UNIQUE
['UNIQUE', 'KEY', '`id_data`', '(`id_data`,`id_group`)']
docu_assure_data_group_mode
`id_data_group_mode`
`id_data_group`
`mode`
`date_valid`
PRIMARY
  PRIMARY KEY (`id_data_group_mode`),
UNIQUE
['UNIQUE', 'KEY', '`id_data_group`', '(`id_data_group`)']
docu_assure_data_old
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`num_ref`
`civilite`
`prenom`
`nom_jf`
`date_import`
`nni_2_cle`
`cp`
`adresse_1`
`localite`
`num_portable`
`num_telephone`
`exclusion`
`caisse`
`numero_rue`
`bis_ter_q`
`voie`
`commune`
`email`
`qualite_ayant_droit`
`id_bci`
`code_bureau_distributeur`
`libelle_bureau_distributeur`
`organisme_prenant`
`organisme_rattachement`
`dep`
`nni_2`
`champ_ai8a`
`nom`
`ddn`
`adresse_2`
`regime_am`
`eligible`
`btqc`
`date_deces`
`num_orga_emetteur`
`ku_eligible`
`deces`
`ddo`
`cmu`
`fin_droit`
`numero_voie`
`type_voie`
`date_maj`
`bloque_kcu`
`user_maj`
`date_create`
`user_create`
`med_traitant`
`med_gyneco`
`assure_key`
`insee`
`date_ddo`
`date_bloque_kcu`
`motif_blocage`
`npai`
`date_npai`
`id_assure_neoscope`
`doublon_score`
`mark`
`rang`
`id_import_caisse`
`nir`
`nir_cle`
`code_grand_regime`
`code_caisse_gestionnaire`
`num_centre_gestionnaire`
`ameli_med_traitant`
`date_ref_u`
`date_inv_progr`
`nb_swap`
`id_doublon`
`courrier_lot`
`caisse_emettrice`
`statut_ku`
`sexe`
`dn`
`ile`
`archipel`
`adresse_1_courrier`
`adresse_2_courrier`
`bp_courrier`
`cp_courrier`
`localite_courrier`
`ile_courrier`
`archipel_courrier`
PRIMARY
  PRIMARY KEY (`id_data`),
KEY
['KEY', '`dep`', '(`dep`),']
KEY
['KEY', '`nom`', '(`nom`),']
KEY
['KEY', '`prenom`', '(`prenom`),']
KEY
['KEY', '`ddn`', '(`ddn`),']
KEY
['KEY', '`nom_jf`', '(`nom_jf`),']
KEY
['KEY', '`nni_2`', '(`nni_2`),']
KEY
['KEY', '`num_ref`', '(`num_ref`),']
KEY
['KEY', '`cp`', '(`cp`),']
KEY
['KEY', '`localite`', '(`localite`),']
KEY
['KEY', '`date_import`', '(`date_import`),']
KEY
['KEY', '`nir`', '(`nir`),']
KEY
['KEY', '`id_bci`', '(`id_bci`),']
KEY
['KEY', '`med_traitant`', '(`med_traitant`),']
KEY
['KEY', '`med_gyneco`', '(`med_gyneco`),']
KEY
['KEY', '`id_doublon`', '(`id_doublon`),']
KEY
['KEY', '`idx_doublon_id_cp`', '(`id_data`,`cp`),']
KEY
['KEY', '`idx_doublon_id_prenom`', '(`id_data`,`prenom`),']
KEY
['KEY', '`mark`', '(`mark`),']
KEY
['KEY', '`id_assure_neoscope`', '(`id_assure_neoscope`)']
docu_assure_deleted
`id_data`
`id_owner`
`sys_creation_date`
`sys_last_mod_date`
`sys_last_mod_user`
`num_ref`
`civilite`
`prenom`
`nom_jf`
`date_import`
`nni_2_cle`
`cp`
`adresse_1`
`localite`

In [76]:
import sqlparse
from tabulate import tabulate

def extract_table_info(sql):
    parsed = sqlparse.parse(sql)
    tables = []

    for statement in parsed:
        if statement.get_type() == 'CREATE':
            table_info = {}
            tokens = statement.tokens
            
            table_name = None
            columns = []
            primary_keys = []
            foreign_keys = []

            in_parenthesis = False
            in_primary_key = False
            in_foreign_key = False

            for token in tokens:
                if str(token).startswith('CREATE TABLE'):
                    table_name = str(token).split()[2].strip('`')
                    table_info['table_name'] = table_name
                elif str(token).startswith('('):
                    # Extract columns and their types
                    column_info = str(token).strip('()').split(',')
                    for info in column_info:
                        if info.strip() == '':
                            continue
                        else:
                            info_parts = info.strip().split()
                            column_name = info_parts[0].strip('`')
                            column_type = ' '.join(info_parts[1:])
                            columns.append((column_name, column_type))

                # Extract primary keys
                if in_primary_key:
                    if str(token).startswith('PRIMARY KEY'):
                        pk_info = str(token).split()
                        for pk in pk_info[2:]:
                            if pk.startswith('(') or pk.endswith(')'):
                                pk = pk.strip('(),')
                            primary_keys.append(pk.strip('`'))

                # Extract foreign keys
                if in_foreign_key:
                    if str(token).startswith('FOREIGN KEY'):
                        fk_info = str(token).split()
                        for fk in fk_info[2:]:
                            if fk.startswith('(') or fk.endswith(')'):
                                fk = fk.strip('(),')
                            foreign_keys.append(fk.strip('`'))

                # Handle primary key and foreign key states
                if str(token).startswith('PRIMARY KEY'):
                    in_primary_key = True
                elif str(token).startswith('FOREIGN KEY'):
                    in_foreign_key = True
                elif str(token).startswith(')'):
                    in_primary_key = False
                    in_foreign_key = False

            table_info['columns'] = columns
            table_info['primary_keys'] = primary_keys
            table_info['foreign_keys'] = foreign_keys

            tables.append(table_info)

    return tables

def parse_sql_dump(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        sql = file.read()
    
    tables = extract_table_info(sql)
    return tables

def print_table_info(table_info):
    for table in table_info:
        print(f"Table: {table['table_name']}")
        headers = ["Column Name", "Data Type"]
        print(tabulate(table['columns'], headers=headers, tablefmt="pretty"))
        if table['primary_keys']:
            print(f"Primary Key(s): {', '.join(table['primary_keys'])}")
        if table['foreign_keys']:
            print(f"Foreign Key(s): {', '.join(table['foreign_keys'])}")
        print("\n")

# Example usage
sql_dump_path = '../../../../Desktop/docu_str.sql'
table_info = parse_sql_dump(sql_dump_path)
print_table_info(table_info)

KeyError: 'table_name'